In [68]:
from sklearn.feature_extraction.text import CountVectorizer
from sklearn.feature_extraction.text import TfidfTransformer
import numpy as np
import pandas as pd
import re

In [69]:
##################1

# Preprocess

In [70]:
# load data
filename = 'documents/document_1.txt'
file = open(filename, 'rt')
text = file.read()
#print (text)
file.close()
# split into words
from nltk.tokenize import word_tokenize
tokens = word_tokenize(text)
# print (tokens)
# convert to lower case
tokens = [w.lower() for w in tokens]

# # remove punctuation from each word
import string
table = str.maketrans('', '', string.punctuation)
stripped = [w.translate(table) for w in tokens]




w = list(filter(None,stripped))
#print(w)

import operator
freq_dis={}
for tok in w:
    if tok in freq_dis:
        freq_dis[tok] += 1
    else:
        freq_dis[tok] = 1
        
sorted_freq_dist= sorted(freq_dis.items(), key=operator.itemgetter(1),
reverse=True)

doc1=pd.DataFrame(sorted_freq_dist)
doc1.rename(columns={doc1.columns[0]: "doc1", doc1.columns[1]: "feq_doc1"}, inplace=True)
doc1.head(1)

  doc1  feq_doc1
0  the       273

In [71]:
################################2

In [72]:
#  load data
filename = 'documents/document_2.txt'
file = open(filename, 'rt')
text = file.read()
#print (text)
file.close()
# split into words
from nltk.tokenize import word_tokenize
tokens = word_tokenize(text)
# print (tokens)
# convert to lower case
tokens = [w.lower() for w in tokens]

# # remove punctuation from each word
import string
table = str.maketrans('', '', string.punctuation)
stripped = [w.translate(table) for w in tokens]


f = list(filter(None,stripped))
#print(w)

import operator
freq_dis={}
for tok in f:
    if tok in freq_dis:
        freq_dis[tok] += 1
    else:
        freq_dis[tok] = 1
        
sorted_freq_dist= sorted(freq_dis.items(), key=operator.itemgetter(1),
reverse=True)

doc2 =pd.DataFrame(sorted_freq_dist)
doc2.rename(columns={doc2.columns[0]: "doc2", doc2.columns[1]: "feq_doc2"}, inplace=True)
doc2.head(1)

  doc2  feq_doc2
0  the       322

In [73]:
##########################3

In [74]:
#  load data
filename = 'documents/document_3.txt'
file = open(filename, 'rt')
text = file.read()
#print (text)
file.close()
# split into words
from nltk.tokenize import word_tokenize
tokens = word_tokenize(text)
# print (tokens)
# convert to lower case
tokens = [w.lower() for w in tokens]

# # remove punctuation from each word
import string
table = str.maketrans('', '', string.punctuation)
stripped = [w.translate(table) for w in tokens]


l = list(filter(None,stripped))
#print(w)

import operator
freq_dis={}
for tok in l:
    if tok in freq_dis:
        freq_dis[tok] += 1
    else:
        freq_dis[tok] = 1
        
sorted_freq_dist= sorted(freq_dis.items(), key=operator.itemgetter(1),
reverse=True)

doc3=pd.DataFrame(sorted_freq_dist)
doc3.rename(columns={doc3.columns[0]: "doc3", doc3.columns[1]: "feq_doc3"}, inplace=True)
doc3.head(1)

  doc3  feq_doc3
0  the        25

In [75]:
#################4

In [76]:
#load data
filename = 'documents/document_4.txt'
file = open(filename, 'rt')
text = file.read()
#print (text)
file.close()
# split into words
from nltk.tokenize import word_tokenize
tokens = word_tokenize(text)
# print (tokens)
# convert to lower case
tokens = [w.lower() for w in tokens]

# # remove punctuation from each word
import string
table = str.maketrans('', '', string.punctuation)
stripped = [w.translate(table) for w in tokens]


m = list(filter(None,stripped))
#print(w)

import operator
freq_dis={}
for tok in m:
    if tok in freq_dis:
        freq_dis[tok] += 1
    else:
        freq_dis[tok] = 1
        
sorted_freq_dist= sorted(freq_dis.items(), key=operator.itemgetter(1),
reverse=True)
doc4=pd.DataFrame(sorted_freq_dist)
doc4.rename(columns={doc4.columns[0]: "doc4", doc4.columns[1]: "feq_doc4"}, inplace=True)
doc4.head(1)

  doc4  feq_doc4
0  the       360

In [77]:
#################5

In [78]:
#load data
filename = 'documents/document_5.txt'
file = open(filename, 'rt')
text = file.read()
#print (text)
file.close()
# split into words
from nltk.tokenize import word_tokenize
tokens = word_tokenize(text)
# print (tokens)
# convert to lower case
tokens = [w.lower() for w in tokens]

# # remove punctuation from each word
import string
table = str.maketrans('', '', string.punctuation)
stripped = [w.translate(table) for w in tokens]


n = list(filter(None,stripped))
#print(w)

import operator
freq_dis={}
for tok in n:
    if tok in freq_dis:
        freq_dis[tok] += 1
    else:
        freq_dis[tok] = 1

sorted_freq_dist= sorted(freq_dis.items(), key=operator.itemgetter(1),
reverse=True)

doc5=pd.DataFrame(sorted_freq_dist)
doc5.rename(columns={doc5.columns[0]: "doc5", doc5.columns[1]: "feq_doc5"}, inplace=True)
doc5.head(1)

  doc5  feq_doc5
0  the       612

In [79]:
###############6

In [80]:
#load data
filename = 'documents/document_6.txt'
file = open(filename, 'rt')
text = file.read()
#print (text)
file.close()
# split into words
from nltk.tokenize import word_tokenize
tokens = word_tokenize(text)
# print (tokens)
# convert to lower case
tokens = [w.lower() for w in tokens]

# # remove punctuation from each word
import string
table = str.maketrans('', '', string.punctuation)
stripped = [w.translate(table) for w in tokens]


o = list(filter(None,stripped))
#print(w)

import operator
freq_dis={}
for tok in o:
    if tok in freq_dis:
        freq_dis[tok] += 1
    else:
        freq_dis[tok] = 1

sorted_freq_dist= sorted(freq_dis.items(), key=operator.itemgetter(1),
reverse=True)



doc6=pd.DataFrame(sorted_freq_dist)
doc6.rename(columns={doc6.columns[0]: "doc6", doc6.columns[1]: "feq_doc6"}, inplace=True)

doc6.head(1)

  doc6  feq_doc6
0  the       407

In [81]:
########################7

In [82]:
#load data
filename = 'documents/document_7.txt'
file = open(filename, 'rt')
text = file.read()
#print (text)
file.close()
# split into words
from nltk.tokenize import word_tokenize
tokens = word_tokenize(text)
# print (tokens)
# convert to lower case
tokens = [w.lower() for w in tokens]

# # remove punctuation from each word
import string
table = str.maketrans('', '', string.punctuation)
stripped = [w.translate(table) for w in tokens]


p = list(filter(None,stripped))
#print(w)

import operator
freq_dis={}
for tok in p:
    if tok in freq_dis:
        freq_dis[tok] += 1
    else:
        freq_dis[tok] = 1

sorted_freq_dist= sorted(freq_dis.items(), key=operator.itemgetter(1),
reverse=True)



doc7=pd.DataFrame(sorted_freq_dist)
doc7.rename(columns={doc7.columns[0]: "doc7", doc7.columns[1]: "feq_doc7"}, inplace=True)

doc7.head(1)

  doc7  feq_doc7
0  the       266

In [83]:
####################8

In [84]:
#load data
filename = 'documents/document_8.txt'
file = open(filename, 'rt')
text = file.read()
#print (text)
file.close()
# split into words
from nltk.tokenize import word_tokenize
tokens = word_tokenize(text)
# print (tokens)
# convert to lower case
tokens = [w.lower() for w in tokens]

# # remove punctuation from each word
import string
table = str.maketrans('', '', string.punctuation)
stripped = [w.translate(table) for w in tokens]


q = list(filter(None,stripped))
#print(w)

import operator
freq_dis={}
for tok in q:
    if tok in freq_dis:
        freq_dis[tok] += 1
    else:
        freq_dis[tok] = 1

sorted_freq_dist= sorted(freq_dis.items(), key=operator.itemgetter(1),
reverse=True)


doc8=pd.DataFrame(sorted_freq_dist)
doc8.rename(columns={doc8.columns[0]: "doc8", doc8.columns[1]: "feq_doc8"}, inplace=True)

doc8.head(1)

  doc8  feq_doc8
0  the       504

In [85]:
#####################9

In [86]:
#load data
filename = 'documents/document_9.txt'
file = open(filename, 'rt')
text = file.read()
#print (text)
file.close()
# split into words
from nltk.tokenize import word_tokenize
tokens = word_tokenize(text)
# print (tokens)
# convert to lower case
tokens = [w.lower() for w in tokens]

# # remove punctuation from each word
import string
table = str.maketrans('', '', string.punctuation)
stripped = [w.translate(table) for w in tokens]


r= list(filter(None,stripped))
#print(w)

import operator
freq_dis={}
for tok in r:
    if tok in freq_dis:
        freq_dis[tok] += 1
    else:
        freq_dis[tok] = 1

sorted_freq_dist= sorted(freq_dis.items(), key=operator.itemgetter(1),
reverse=True)



doc9=pd.DataFrame(sorted_freq_dist)
doc9.rename(columns={doc9.columns[0]: "doc9", doc9.columns[1]: "feq_doc9"}, inplace=True)

doc9.head(1)

  doc9  feq_doc9
0  the        23

In [87]:
##################10

In [88]:
#load data
filename = 'documents/document_10.txt'
file = open(filename, 'rt')
text = file.read()
#print (text)
file.close()
# split into words
from nltk.tokenize import word_tokenize
tokens = word_tokenize(text)
# print (tokens)
# convert to lower case
tokens = [w.lower() for w in tokens]

# # remove punctuation from each word
import string
table = str.maketrans('', '', string.punctuation)
stripped = [w.translate(table) for w in tokens]


s= list(filter(None,stripped))
#print(w)

import operator
freq_dis={}
for tok in s:
    if tok in freq_dis:
        freq_dis[tok] += 1
    else:
        freq_dis[tok] = 1

sorted_freq_dist= sorted(freq_dis.items(), key=operator.itemgetter(1),
reverse=True)



doc10=pd.DataFrame(sorted_freq_dist)
doc10.rename(columns={doc10.columns[0]: "doc10", doc10.columns[1]: "feq_doc10"}, inplace=True)

doc10.head(1)

  doc10  feq_doc10
0   the         26

In [89]:
##################11

In [90]:
#load data
filename = 'documents/document_11.txt'
file = open(filename, 'rt')
text = file.read()
#print (text)
file.close()
# split into words
from nltk.tokenize import word_tokenize
tokens = word_tokenize(text)
# print (tokens)
# convert to lower case
tokens = [w.lower() for w in tokens]

# # remove punctuation from each word
import string
table = str.maketrans('', '', string.punctuation)
stripped = [w.translate(table) for w in tokens]


t= list(filter(None,stripped))
#print(w)

import operator
freq_dis={}
for tok in t:
    if tok in freq_dis:
        freq_dis[tok] += 1
    else:
        freq_dis[tok] = 1

sorted_freq_dist= sorted(freq_dis.items(), key=operator.itemgetter(1),
reverse=True)



doc11=pd.DataFrame(sorted_freq_dist)
doc11.rename(columns={doc11.columns[0]: "doc11", doc11.columns[1]: "feq_doc11"}, inplace=True)

doc11.head(1)

  doc11  feq_doc11
0     1        148

In [91]:
###############12

In [92]:
#load data
filename = 'documents/document_12.txt'
file = open(filename, 'rt')
text = file.read()
#print (text)
file.close()
# split into words
from nltk.tokenize import word_tokenize
tokens = word_tokenize(text)
# print (tokens)
# convert to lower case
tokens = [w.lower() for w in tokens]

# # remove punctuation from each word
import string
table = str.maketrans('', '', string.punctuation)
stripped = [w.translate(table) for w in tokens]


u= list(filter(None,stripped))
#print(w)

import operator
freq_dis={}
for tok in u:
    if tok in freq_dis:
        freq_dis[tok] += 1
    else:
        freq_dis[tok] = 1

sorted_freq_dist= sorted(freq_dis.items(), key=operator.itemgetter(1),
reverse=True)



doc12=pd.DataFrame(sorted_freq_dist)
doc12.rename(columns={doc12.columns[0]: "doc12", doc12.columns[1]: "feq_doc12"}, inplace=True)

doc12.head(1)

  doc12  feq_doc12
0   the         62

In [93]:
################# 13

In [94]:
#load data
filename = 'documents/document_13.txt'
file = open(filename, 'rt')
text = file.read()
#print (text)
file.close()
# split into words
from nltk.tokenize import word_tokenize
tokens = word_tokenize(text)
# print (tokens)
# convert to lower case
tokens = [w.lower() for w in tokens]

# # remove punctuation from each word
import string
table = str.maketrans('', '', string.punctuation)
stripped = [w.translate(table) for w in tokens]


v= list(filter(None,stripped))
#print(w)

import operator
freq_dis={}
for tok in v:
    if tok in freq_dis:
        freq_dis[tok] += 1
    else:
        freq_dis[tok] = 1

sorted_freq_dist= sorted(freq_dis.items(), key=operator.itemgetter(1),
reverse=True)



doc13=pd.DataFrame(sorted_freq_dist)
doc13.rename(columns={doc13.columns[0]: "doc13", doc13.columns[1]: "feq_doc13"}, inplace=True)

doc13.head(1)

  doc13  feq_doc13
0   the         30

In [95]:
#################14

In [96]:
#load data
filename = 'documents/document_14.txt'
file = open(filename, 'rt')
text = file.read()
#print (text)
file.close()
# split into words
from nltk.tokenize import word_tokenize
tokens = word_tokenize(text)
# print (tokens)
# convert to lower case
tokens = [w.lower() for w in tokens]

# # remove punctuation from each word
import string
table = str.maketrans('', '', string.punctuation)
stripped = [w.translate(table) for w in tokens]


x= list(filter(None,stripped))
#print(w)

import operator
freq_dis={}
for tok in x:
    if tok in freq_dis:
        freq_dis[tok] += 1
    else:
        freq_dis[tok] = 1

sorted_freq_dist= sorted(freq_dis.items(), key=operator.itemgetter(1),
reverse=True)



doc14=pd.DataFrame(sorted_freq_dist)
doc14.rename(columns={doc14.columns[0]: "doc14", doc14.columns[1]: "feq_doc14"}, inplace=True)

doc14.head(1)

    doc14  feq_doc14
0  report         98

In [97]:
################15

In [98]:
#load data
filename = 'documents/document_15.txt'
file = open(filename, 'rt')
text = file.read()
#print (text)
file.close()
# split into words
from nltk.tokenize import word_tokenize
tokens = word_tokenize(text)
# print (tokens)
# convert to lower case
tokens = [w.lower() for w in tokens]

# # remove punctuation from each word
import string
table = str.maketrans('', '', string.punctuation)
stripped = [w.translate(table) for w in tokens]


y= list(filter(None,stripped))
#print(w)

import operator
freq_dis={}
for tok in y:
    if tok in freq_dis:
        freq_dis[tok] += 1
    else:
        freq_dis[tok] = 1

sorted_freq_dist= sorted(freq_dis.items(), key=operator.itemgetter(1),
reverse=True)



doc15=pd.DataFrame(sorted_freq_dist)
doc15.rename(columns={doc15.columns[0]: "doc15", doc15.columns[1]: "feq_doc15"}, inplace=True)

doc15.head(1)

  doc15  feq_doc15
0   the        261

In [99]:
########################16

In [100]:
#load data
filename = 'documents/document_16.txt'
file = open(filename, 'rt')
text = file.read()
#print (text)
file.close()
# split into words
from nltk.tokenize import word_tokenize
tokens = word_tokenize(text)
# print (tokens)
# convert to lower case
tokens = [w.lower() for w in tokens]

# # remove punctuation from each word
import string
table = str.maketrans('', '', string.punctuation)
stripped = [w.translate(table) for w in tokens]


r= list(filter(None,stripped))
#print(w)

import operator
freq_dis={}
for tok in r:
    if tok in freq_dis:
        freq_dis[tok] += 1
    else:
        freq_dis[tok] = 1

sorted_freq_dist= sorted(freq_dis.items(), key=operator.itemgetter(1),
reverse=True)



doc16=pd.DataFrame(sorted_freq_dist)
doc16.rename(columns={doc16.columns[0]: "doc16", doc16.columns[1]: "feq_doc16"}, inplace=True)

doc16.head(1)

  doc16  feq_doc16
0   the        106

In [101]:
################17

In [102]:
#load data
filename = 'documents/document_17.txt'
file = open(filename, 'rt')
text = file.read()
#print (text)
file.close()
# split into words
from nltk.tokenize import word_tokenize
tokens = word_tokenize(text)
# print (tokens)
# convert to lower case
tokens = [w.lower() for w in tokens]

# # remove punctuation from each word
import string
table = str.maketrans('', '', string.punctuation)
stripped = [w.translate(table) for w in tokens]


rr= list(filter(None,stripped))
#print(w)

import operator
freq_dis={}
for tok in rr:
    if tok in freq_dis:
        freq_dis[tok] += 1
    else:
        freq_dis[tok] = 1

sorted_freq_dist= sorted(freq_dis.items(), key=operator.itemgetter(1),
reverse=True)



doc17=pd.DataFrame(sorted_freq_dist)
doc17.rename(columns={doc17.columns[0]: "doc17", doc17.columns[1]: "feq_doc17"}, inplace=True)

doc17.head(1)

  doc17  feq_doc17
0   the         80

In [103]:
################18

In [104]:
#load data
filename = 'documents/document_18.txt'
file = open(filename, 'rt')
text = file.read()
#print (text)
file.close()
# split into words
from nltk.tokenize import word_tokenize
tokens = word_tokenize(text)
# print (tokens)
# convert to lower case
tokens = [w.lower() for w in tokens]

# # remove punctuation from each word
import string
table = str.maketrans('', '', string.punctuation)
stripped = [w.translate(table) for w in tokens]


aa= list(filter(None,stripped))
#print(w)

import operator
freq_dis={}
for tok in aa:
    if tok in freq_dis:
        freq_dis[tok] += 1
    else:
        freq_dis[tok] = 1

sorted_freq_dist= sorted(freq_dis.items(), key=operator.itemgetter(1),
reverse=True)



doc18=pd.DataFrame(sorted_freq_dist)
doc18.rename(columns={doc18.columns[0]: "doc18", doc18.columns[1]: "feq_doc18"}, inplace=True)

doc18.head(1)

  doc18  feq_doc18
0   the         18

In [105]:
################19

In [106]:
#load data
filename = 'documents/document_19.txt'
file = open(filename, 'rt')
text = file.read()
#print (text)
file.close()
# split into words
from nltk.tokenize import word_tokenize
tokens = word_tokenize(text)
# print (tokens)
# convert to lower case
tokens = [w.lower() for w in tokens]

# # remove punctuation from each word
import string
table = str.maketrans('', '', string.punctuation)
stripped = [w.translate(table) for w in tokens]


aq= list(filter(None,stripped))
#print(w)

import operator
freq_dis={}
for tok in aq:
    if tok in freq_dis:
        freq_dis[tok] += 1
    else:
        freq_dis[tok] = 1

sorted_freq_dist= sorted(freq_dis.items(), key=operator.itemgetter(1),
reverse=True)



doc19=pd.DataFrame(sorted_freq_dist)
doc19.rename(columns={doc19.columns[0]: "doc19", doc19.columns[1]: "feq_doc19"}, inplace=True)

doc19.head(1)

  doc19  feq_doc19
0   the        894

In [107]:
################20

In [108]:
#load data
filename = 'documents/document_20.txt'
file = open(filename, 'rt')
text = file.read()
#print (text)
file.close()
# split into words
from nltk.tokenize import word_tokenize
tokens = word_tokenize(text)
# print (tokens)
# convert to lower case
tokens = [w.lower() for w in tokens]

# # remove punctuation from each word
import string
table = str.maketrans('', '', string.punctuation)
stripped = [w.translate(table) for w in tokens]


ax= list(filter(None,stripped))
#print(w)

import operator
freq_dis={}
for tok in ax:
    if tok in freq_dis:
        freq_dis[tok] += 1
    else:
        freq_dis[tok] = 1

sorted_freq_dist= sorted(freq_dis.items(), key=operator.itemgetter(1),
reverse=True)



doc20=pd.DataFrame(sorted_freq_dist)
doc20.rename(columns={doc20.columns[0]: "doc20", doc20.columns[1]: "feq_doc20"}, inplace=True)

doc20.head(1)

  doc20  feq_doc20
0   the        963

In [109]:
########### work

# Create Data frame each two columns represent the word in each document and the other for the frequency of this word in this documents

In [110]:
doc=pd.concat([doc1,doc2,doc3,doc4,doc5,doc6,doc7,doc8,doc9,doc10
              ,doc11,doc12,doc13,doc14,doc15,doc16,doc17,doc18
              ,doc19,doc20], axis=1, sort=False).fillna('-')
doc

,doc1,feq_doc1,doc2,feq_doc2,doc3,feq_doc3,doc4,feq_doc4,doc5,feq_doc5,...,doc16,feq_doc16,doc17,feq_doc17,doc18,feq_doc18,doc19,feq_doc19,doc20,feq_doc20
0,the,273,the,322,the,25,the,360,the,612,...,the,106,the,80,the,18,the,894,the,963
1,of,138,of,111,wanzer,15,dna,200,of,191,...,and,56,in,57,and,16,of,600,of,477
2,and,123,and,91,a,9,of,178,in,189,...,in,55,she,35,of,15,in,486,king,414
3,a,84,a,57,in,9,replication,143,and,173,...,of,50,and,30,a,14,and,429,and,403
4,to,81,in,56,was,8,a,118,to,136,...,menage,49,of,22,in,11,franklin,402,in,387
5,is,62,cell,54,and,8,in,102,a,121,...,a,41,team,20,haston,7,a,364,to,387
6,as,59,is,53,royals,7,and,101,oktoberfest,105,...,to,39,ohea,16,book,5,to,345,a,284
7,in,54,as,42,he,6,to,89,is,80,...,s,26,for,16,is,4,his,231,that,209
8,that,41,air,41,hall,5,is,83,was,64,...,was,24,was,16,rising,4,he,217,was,198
9,with,38,to,37,to,5,strand,76,for,55,...,he,24,at,15,dead,4,was,210,s,179
10,or,32,at,34,season,5,are,40,–,55,...,his,17,a,15,moon,4,that,142,his,169
11,are,31,it,33,as,4,by,37,with,51,...,minneapolis,15,3,15,echo,4,as,136,he,164
12,santería,28,circulation,32,basketball,4,polymerase,36,beer,47,...,1,15,with,13,magical,4,s,133,for,138
13,be,24,are,32,coach,4,this,32,festival,47,...,for,15,to,13,whispers,4,on,133,on,127
14,for,23,hadley,31,of,4,as,30,at,43,...,with,14,season,13,published,4,for,130,with,108
15,their,23,polar,29,with,4,on,30,on,41,...,king,13,australian,12,for,4,by,114,by,95
16,by,21,by,27,for,4,for,29,by,40,...,by,13,2012,11,elephants,4,with,96,i,95
17,orichás,21,ferrel,27,also,3,strands,29,s,39,...,land,12,basketball,11,s,4,from,80,rights,83
18,known,19,that,25,at,3,from,28,tents,39,...,were,11,national,11,was,4,it,64,as,82
19,traditional,19,surface,22,seton,3,template,28,tent,39,...,real,10,her,11,to,4,philadelphia,59,civil,76
20,from,19,cells,18,after,3,with,28,munich,37,...,estate,10,game,10,from,3,benjamin,58,at,71
21,healing,17,this,17,team,3,that,28,as,37,...,city,10,wnbl,9,fiction,3,an,58,from,66
22,6,17,pacific,17,1,3,fork,24,from,36,...,minnesota,9,played,9,historical,3,which,58,an,65
23,an,16,from,16,star,3,nucleotides,22,are,36,...,as,8,s,7,blood,3,had,55,it,60
24,also,15,on,16,were,3,at,22,this,36,...,at,8,points,7,doves,3,pennsylvania,54,had,59
25,they,15,s,16,nba,3,synthesis,22,first,32,...,had,8,per,7,2013,3,is,52,have,55
26,on,14,which,16,his,3,each,20,were,26,...,new,8,jenna,6,an,3,at,52,is,54
27,orichá,14,equator,14,on,3,process,20,it,24,...,business,8,2,6,career,3,first,51,march,53
28,which,14,winds,14,4,2,these,19,which,24,...,from,7,4,6,october,3,american,49,luther,52
29,religion,12,toward,14,january,2,3,19,an,23,...,on,7,6,6,class,3,be,47,movement,52
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
3732,-,-,-,-,-,-,-,-,-,-,...,-,-,-,-,-,-,carriers,1,-,-
3733,-,-,-,-,-,-,-,-,-,-,...,-,-,-,-,-,-,cv13,1,-,-
3734,-,-,-,-,-,-,-,-,-,-,...,-,-,-,-,-,-,bon,1,-,-
3735,-,-,-,-,-,-,-,-,-,-,...,-,-,-,-,-,-,homme,1,-,-
3736,-,-,-,-,-,-,-,-,-,-,...,-,-,-,-,-,-,cv31,1,-,-
3737,-,-,-,-,-,-,-,-,-,-,...,-,-,-,-,-,-,operation,1,-,-
3738,-,-,-,-,-,-,-,-,-,-,...,-,-,-,-,-,-,ii,1,-,-
3739,-,-,-,-,-,-,-,-,-,-,...,-,-,-,-,-,-,distinction,1,-,-
3740,-,-,-,-,-,-,-,-,-,-,...,-,-,-,-,-,-,operational,1,-,-
3741,-,-,-,-,-,-,-,-,-,-,...,-,-,-,-,-,-,1797,1,-,-
3742,-,-,-,-,-,-,-,-,-,-,...,-,-,-,-,-,-,franklinia,1,-,-
3743,-,-,-,-,-,-,-,-,-,-,...,-,-,-,-,-,-,alatamaha,1,-,-
3744,-,-,-,-,-,-,-,-,-,-,...,-,-,-,-,-,-,tree,1,-,-
3745,-,-,-,-,-,-,-,-,-,-,...,-,-,-,-,-,-,philadelphians,1,-,-
3746,-,-,-,-,-,-,-,-,-,-,...,-,-,-,-,-,-,botanists,1,-,-
3747,-,-,-,-,-,-,-,-,-,-,...,-,-,-,-,-,-,bartram,1,-,-
3748,-,-,-,-,-,-,-,-,-,-,...,-,-,-,-,-,-,cma,1,-,-
3749,-,-,-,-,-,-,-,-,-,-,...,-,-,-,-,-,-,cgm,1,-,-
3750,-,-,-,-,-,-,-,-,-,-,...,-,-,-,-,-,-,chinesebuilt,1,-,-
3751,-,-,-,-,-,-,-,-,-,-,...,-,-,-,-,-,-,explorerclass,1,-,-
3752,-,-,-,-,-,-,-,-,-,-,...,-,-,-,-,-,-,container,1,-,-
3753,-,-,-,-,-,-,-,-,-,-,...,-,-,-,-,-,-,193,1,-,-
3754,-,-,-,-,-,-,-,-,-,-,...,-,-,-,-,-,-,mayhew,1,-,-
3755,-,-,-,-,-,-,-,-,-,-,...,-,-,-,-,-,-,assistant,1,-,-
3756,-,-,-,-,-,-,-,-,-,-,...,-,-,-,-,-,-,15th,1,-,-
3757,-,-,-,-,-,-,-,-,-,-,...,-,-,-,-,-,-,fled,1,-,-
3758,-,-,-,-,-,-,-,-,-,-,...,-,-,-,-,-,-,purified,1,-,-
3759,-,-,-,-,-,-,-,-,-,-,...,-,-,-,-,-,-,congregationalist,1,-,-
3760,-,-,-,-,-,-,-,-,-,-,...,-,-,-,-,-,-,christianity,1,-,-
3761,-,-,-,-,-,-,-,-,-,-,...,-,-,-,-,-,-,194,1,-,-

#  add row that give total number of words in each documents

In [111]:
doc.loc['sum'] = doc.sum()

# save file to csv file

In [112]:
doc.to_csv(r'result2.csv')

In [120]:
result2= pd.read_csv('result2.csv')
result2.head()

,Unnamed: 0,doc1,feq_doc1,doc2,feq_doc2,doc3,feq_doc3,doc4,feq_doc4,doc5,...,doc16,feq_doc16,doc17,feq_doc17,doc18,feq_doc18,doc19,feq_doc19,doc20,feq_doc20
0,0,the,273.0,the,322.0,the,25.0,the,360.0,the,...,the,106.0,the,80.0,the,18.0,the,894,the,963.0
1,1,of,138.0,of,111.0,wanzer,15.0,dna,200.0,of,...,and,56.0,in,57.0,and,16.0,of,600,of,477.0
2,2,and,123.0,and,91.0,a,9.0,of,178.0,in,...,in,55.0,she,35.0,of,15.0,in,486,king,414.0
3,3,a,84.0,a,57.0,in,9.0,replication,143.0,and,...,of,50.0,and,30.0,a,14.0,and,429,and,403.0
4,4,to,81.0,in,56.0,was,8.0,a,118.0,to,...,menage,49.0,of,22.0,in,11.0,franklin,402,in,387.0

# Word search in all documents

In [122]:
result2[result2['doc1'].str.match('the')]

,Unnamed: 0,doc1,feq_doc1,doc2,feq_doc2,doc3,feq_doc3,doc4,feq_doc4,doc5,...,doc16,feq_doc16,doc17,feq_doc17,doc18,feq_doc18,doc19,feq_doc19,doc20,feq_doc20
0,0,the,273.0,the,322.0,the,25.0,the,360.0,the,...,the,106.0,the,80.0,the,18.0,the,894,the,963.0
15,15,their,23.0,polar,29.0,with,4.0,on,30.0,on,...,king,13.0,australian,12.0,for,4.0,by,114,by,95.0
25,25,they,15.0,s,16.0,nba,3.0,synthesis,22.0,first,...,had,8.0,per,7.0,2013,3.0,is,52,have,55.0
60,60,these,8.0,latitudes,7.0,hooks,1.0,growing,10.0,place,...,time,4.0,injury,4.0,on,2.0,us,23,war,24.0
71,71,there,7.0,article,6.0,record,1.0,bases,9.0,paulaner,...,first,4.0,bulleen,3.0,canada,1.0,also,19,all,23.0
251,251,them,2.0,travels,2.0,-,-,plasmids,3.0,service,...,again,1.0,metro,1.0,-,-,george,8,hoover,8.0
656,656,then,1.0,alone,1.0,-,-,includes,1.0,reduce,...,-,-,-,-,-,-,set,3,based,3.0
3762,sum,theofandatoisasinthatwithoraresanteríabeforthe...,NaN,theofandaincellisasairtoatitcirculationarehadl...,NaN,thewanzerainwasandroyalshehalltoseasonasbasket...,NaN,thednaofreplicationainandtoisstrandarebypolyme...,NaN,theofinandtoaoktoberfestiswasfor–withbeerfesti...,...,theandinofmenageatoswashehisminneapolis1forwit...,NaN,theinsheandofteamoheaforwasata3withtoseasonaus...,NaN,theandofainhastonbookisrisingdeadmoonechomagic...,NaN,theofinandfranklinatohishewasthatassonforbywit...,15361,theofkingandintoathatwasshisheforonwithbyirigh...,NaN

NameError: name 'words_count' is not defined