In [110]:
from sklearn.feature_extraction.text import CountVectorizer
from sklearn.feature_extraction.text import TfidfTransformer
import numpy as np
import pandas as pd
import re

In [ ]:
# preprocess

In [36]:
##################1

In [257]:
# load data
filename = 'documents/document_1.txt'
file = open(filename, 'rt')
text = file.read()
#print (text)
file.close()
# split into words
from nltk.tokenize import word_tokenize
tokens = word_tokenize(text)
# print (tokens)
# convert to lower case
tokens = [w.lower() for w in tokens]

# # remove punctuation from each word
import string
table = str.maketrans('', '', string.punctuation)
stripped = [w.translate(table) for w in tokens]

# filter out stop words
from nltk.corpus import stopwords
stop_words = set(stopwords.words('english'))
words = [w for w in stripped if not w in stop_words]

bad_chars = [';', ':', '!', "*", '%','#','@','←','→','∞','“','”','’','=','>','.','—'] 
# using replace() to  
# remove bad_chars  
# remove bad_chars  
test_string = filter(lambda i: i not in bad_chars, words)
    
d1 = list(filter(None,test_string))
#print(w)

In [168]:
# d1

In [87]:
#########2

In [258]:
#  load data
filename = 'documents/document_2.txt'
file = open(filename, 'rt')
text = file.read()
#print (text)
file.close()
# split into words
from nltk.tokenize import word_tokenize
tokens = word_tokenize(text)
# print (tokens)
# convert to lower case
tokens = [w.lower() for w in tokens]

# # remove punctuation from each word
import string
table = str.maketrans('', '', string.punctuation)
stripped = [w.translate(table) for w in tokens]

# filter out stop words
from nltk.corpus import stopwords
stop_words = set(stopwords.words('english'))
words = [w for w in stripped if not w in stop_words]

bad_chars = [';', ':', '!', "*", '%','#','@','←','→','∞','“','”','’','=','>','.','—'] 
 
# remove bad_chars  
test_string = filter(lambda i: i not in bad_chars, words)

d2 = list(filter(None,test_string))
#print(w)

In [52]:
##########################3

In [259]:
#  load data
filename = 'documents/document_3.txt'
file = open(filename, 'rt')
text = file.read()
#print (text)
file.close()
# split into words
from nltk.tokenize import word_tokenize
tokens = word_tokenize(text)
# print (tokens)
# convert to lower case
tokens = [w.lower() for w in tokens]

# # remove punctuation from each word
import string
table = str.maketrans('', '', string.punctuation)
stripped = [w.translate(table) for w in tokens]

# filter out stop words
from nltk.corpus import stopwords
stop_words = set(stopwords.words('english'))
words = [w for w in stripped if not w in stop_words]

bad_chars = [';', ':', '!', "*", '%','#','@','←','→','∞','“','”','’','=','>','.','—'] 
 
# remove bad_chars  
test_string = filter(lambda i: i not in bad_chars, words)

d3 = list(filter(None,test_string))
#print(w)

In [59]:
#################4

In [260]:
#load data
filename = 'documents/document_4.txt'
file = open(filename, 'rt')
text = file.read()
#print (text)
file.close()
# split into words
from nltk.tokenize import word_tokenize
tokens = word_tokenize(text)
# print (tokens)
# convert to lower case
tokens = [w.lower() for w in tokens]

# # remove punctuation from each word
import string
table = str.maketrans('', '', string.punctuation)
stripped = [w.translate(table) for w in tokens]

# filter out stop words
from nltk.corpus import stopwords
stop_words = set(stopwords.words('english'))
words = [w for w in stripped if not w in stop_words]

bad_chars = [';', ':', '!', "*", '%','#','@','←','→','∞','“','”','’','=','>','.','—'] 
 
# remove bad_chars  
test_string = filter(lambda i: i not in bad_chars, words)



d4 = list(filter(None,test_string))
#print(w)

In [66]:
#################5

In [261]:
#load data
filename = 'documents/document_5.txt'
file = open(filename, 'rt')
text = file.read()
#print (text)
file.close()
# split into words
from nltk.tokenize import word_tokenize
tokens = word_tokenize(text)
# print (tokens)
# convert to lower case
tokens = [w.lower() for w in tokens]

# # remove punctuation from each word
import string
table = str.maketrans('', '', string.punctuation)
stripped = [w.translate(table) for w in tokens]

# filter out stop words
from nltk.corpus import stopwords
stop_words = set(stopwords.words('english'))
words = [w for w in stripped if not w in stop_words]

bad_chars = [';', ':', '!', "*", '%','#','@','←','→','∞','“','”','’','=','>','.','—'] 
 
# remove bad_chars  
test_string = filter(lambda i: i not in bad_chars, words)



d5= list(filter(None,test_string))
#print(w)

In [71]:
###############6

In [262]:
#load data
filename = 'documents/document_6.txt'
file = open(filename, 'rt')
text = file.read()
#print (text)
file.close()
# split into words
from nltk.tokenize import word_tokenize
tokens = word_tokenize(text)
# print (tokens)
# convert to lower case
tokens = [w.lower() for w in tokens]

# # remove punctuation from each word
import string
table = str.maketrans('', '', string.punctuation)
stripped = [w.translate(table) for w in tokens]

# filter out stop words
from nltk.corpus import stopwords
stop_words = set(stopwords.words('english'))
words = [w for w in stripped if not w in stop_words]

bad_chars = [';', ':', '!', "*", '%','#','@','←','→','∞','“','”','’','=','>','.','—'] 
 
# remove bad_chars  
test_string = filter(lambda i: i not in bad_chars, words)

d6= list(filter(None,test_string))
#print(w)

In [74]:
########################7

In [263]:
#load data
filename = 'documents/document_7.txt'
file = open(filename, 'rt')
text = file.read()
#print (text)
file.close()
# split into words
from nltk.tokenize import word_tokenize
tokens = word_tokenize(text)
# print (tokens)
# convert to lower case
tokens = [w.lower() for w in tokens]

# # remove punctuation from each word
import string
table = str.maketrans('', '', string.punctuation)
stripped = [w.translate(table) for w in tokens]

# filter out stop words
from nltk.corpus import stopwords
stop_words = set(stopwords.words('english'))
words = [w for w in stripped if not w in stop_words]

bad_chars = [';', ':', '!', "*", '%','#','@','←','→','∞','“','”','’','=','>','.','—'] 
 
# remove bad_chars  
test_string = filter(lambda i: i not in bad_chars, words)


d7 = list(filter(None,test_string))
#print(w)

In [77]:
####################8

In [264]:
#load data
filename = 'documents/document_8.txt'
file = open(filename, 'rt')
text = file.read()
#print (text)
file.close()
# split into words
from nltk.tokenize import word_tokenize
tokens = word_tokenize(text)
# print (tokens)
# convert to lower case
tokens = [w.lower() for w in tokens]

# # remove punctuation from each word
import string
table = str.maketrans('', '', string.punctuation)
stripped = [w.translate(table) for w in tokens]

# filter out stop words
from nltk.corpus import stopwords
stop_words = set(stopwords.words('english'))
words = [w for w in stripped if not w in stop_words]

bad_chars = [';', ':', '!', "*", '%','#','@','←','→','∞','“','”','’','=','>','.','—'] 
 
# remove bad_chars  
test_string = filter(lambda i: i not in bad_chars, words)


d8 = list(filter(None,test_string))
#print(w)

In [80]:
#####################9

In [265]:
#load data
filename = 'documents/document_9.txt'
file = open(filename, 'rt')
text = file.read()
#print (text)
file.close()
# split into words
from nltk.tokenize import word_tokenize
tokens = word_tokenize(text)
# print (tokens)
# convert to lower case
tokens = [w.lower() for w in tokens]

# # remove punctuation from each word
import string
table = str.maketrans('', '', string.punctuation)
stripped = [w.translate(table) for w in tokens]

# filter out stop words
from nltk.corpus import stopwords
stop_words = set(stopwords.words('english'))
words = [w for w in stripped if not w in stop_words]

bad_chars = [';', ':', '!', "*", '%','#','@','←','→','∞','“','”','’','=','>','.','—'] 
 
# remove bad_chars  
test_string = filter(lambda i: i not in bad_chars, words)

d9 = list(filter(None,test_string))
#print(w)

In [83]:
##################10

In [266]:
#load data
filename = 'documents/document_10.txt'
file = open(filename, 'rt')
text = file.read()
#print (text)
file.close()
# split into words
from nltk.tokenize import word_tokenize
tokens = word_tokenize(text)
# print (tokens)
# convert to lower case
tokens = [w.lower() for w in tokens]

# # remove punctuation from each word
import string
table = str.maketrans('', '', string.punctuation)
stripped = [w.translate(table) for w in tokens]

# filter out stop words
from nltk.corpus import stopwords
stop_words = set(stopwords.words('english'))
words = [w for w in stripped if not w in stop_words]

bad_chars = [';', ':', '!', "*", '%','#','@','←','→','∞','“','”','’','=','>','.','—'] 
 
# remove bad_chars  
test_string = filter(lambda i: i not in bad_chars, words)


d10= list(filter(None,test_string))
#print(w)

In [86]:
##################11

In [267]:
#load data
filename = 'documents/document_11.txt'
file = open(filename, 'rt')
text = file.read()
#print (text)
file.close()
# split into words
from nltk.tokenize import word_tokenize
tokens = word_tokenize(text)
# print (tokens)
# convert to lower case
tokens = [w.lower() for w in tokens]

# # remove punctuation from each word
import string
table = str.maketrans('', '', string.punctuation)
stripped = [w.translate(table) for w in tokens]

# filter out stop words
from nltk.corpus import stopwords
stop_words = set(stopwords.words('english'))
words = [w for w in stripped if not w in stop_words]

bad_chars = [';', ':', '!', "*", '%','#','@','←','→','∞','“','”','’','=','>','.','—'] 
 
# remove bad_chars  
test_string = filter(lambda i: i not in bad_chars, words)


d11= list(filter(None,test_string))
#print(w)

In [89]:
###############12

In [268]:
#load data
filename = 'documents/document_12.txt'
file = open(filename, 'rt')
text = file.read()
#print (text)
file.close()
# split into words
from nltk.tokenize import word_tokenize
tokens = word_tokenize(text)
# print (tokens)
# convert to lower case
tokens = [w.lower() for w in tokens]

# # remove punctuation from each word
import string
table = str.maketrans('', '', string.punctuation)
stripped = [w.translate(table) for w in tokens]

# filter out stop words
from nltk.corpus import stopwords
stop_words = set(stopwords.words('english'))
words = [w for w in stripped if not w in stop_words]

bad_chars = [';', ':', '!', "*", '%','#','@','←','→','∞','“','”','’','=','>','.','—'] 
 
# remove bad_chars  
test_string = filter(lambda i: i not in bad_chars, words)




d12 = list(filter(None,test_string))
#print(w)

In [157]:
# d12

In [92]:
################# 13

In [269]:
#load data
filename = 'documents/document_13.txt'
file = open(filename, 'rt')
text = file.read()
#print (text)
file.close()
# split into words
from nltk.tokenize import word_tokenize
tokens = word_tokenize(text)
# print (tokens)
# convert to lower case
tokens = [w.lower() for w in tokens]

# # remove punctuation from each word
import string
table = str.maketrans('', '', string.punctuation)
stripped = [w.translate(table) for w in tokens]

# filter out stop words
from nltk.corpus import stopwords
stop_words = set(stopwords.words('english'))
words = [w for w in stripped if not w in stop_words]

bad_chars = [';', ':', '!', "*", '%','#','@','←','→','∞','“','”','’','=','>','.','—'] 
 
# remove bad_chars  
test_string = filter(lambda i: i not in bad_chars, words)


d13= list(filter(None,test_string))
#print(w)

In [95]:
#################14

In [270]:
#load data
filename = 'documents/document_14.txt'
file = open(filename, 'rt')
text = file.read()
#print (text)
file.close()
# split into words
from nltk.tokenize import word_tokenize
tokens = word_tokenize(text)
# print (tokens)
# convert to lower case
tokens = [w.lower() for w in tokens]

# # remove punctuation from each word
import string
table = str.maketrans('', '', string.punctuation)
stripped = [w.translate(table) for w in tokens]

# filter out stop words
from nltk.corpus import stopwords
stop_words = set(stopwords.words('english'))
words = [w for w in stripped if not w in stop_words]

bad_chars = [';', ':', '!', "*", '%','#','@','←','→','∞','“','”','’','=','>','.','—'] 
 
# remove bad_chars  
test_string = filter(lambda i: i not in bad_chars, words)

d14= list(filter(None,test_string))
#print(w)

In [98]:
################15

In [271]:
#load data
filename = 'documents/document_15.txt'
file = open(filename, 'rt')
text = file.read()
#print (text)
file.close()
# split into words
from nltk.tokenize import word_tokenize
tokens = word_tokenize(text)
# print (tokens)
# convert to lower case
tokens = [w.lower() for w in tokens]

# # remove punctuation from each word
import string
table = str.maketrans('', '', string.punctuation)
stripped = [w.translate(table) for w in tokens]

# filter out stop words
from nltk.corpus import stopwords
stop_words = set(stopwords.words('english'))
words = [w for w in stripped if not w in stop_words]

bad_chars = [';', ':', '!', "*", '%','#','@','←','→','∞','“','”','’','=','>','.','—'] 
 
# remove bad_chars  
test_string = filter(lambda i: i not in bad_chars, words)

d15= list(filter(None,test_string))
#print(w)

In [101]:
########################16

In [272]:
#load data
filename = 'documents/document_16.txt'
file = open(filename, 'rt')
text = file.read()
#print (text)
file.close()
# split into words
from nltk.tokenize import word_tokenize
tokens = word_tokenize(text)
# print (tokens)
# convert to lower case
tokens = [w.lower() for w in tokens]

# # remove punctuation from each word
import string
table = str.maketrans('', '', string.punctuation)
stripped = [w.translate(table) for w in tokens]

# filter out stop words
from nltk.corpus import stopwords
stop_words = set(stopwords.words('english'))
words = [w for w in stripped if not w in stop_words]

bad_chars = [';', ':', '!', "*", '%','#','@','←','→','∞','“','”','’','=','>','.','—'] 
 
# remove bad_chars  
test_string = filter(lambda i: i not in bad_chars, words)

d16= list(filter(None,test_string))
#print(w)

In [104]:
################17

In [273]:
#load data
filename = 'documents/document_17.txt'
file = open(filename, 'rt')
text = file.read()
#print (text)
file.close()
# split into words
from nltk.tokenize import word_tokenize
tokens = word_tokenize(text)
# print (tokens)
# convert to lower case
tokens = [w.lower() for w in tokens]

# # remove punctuation from each word
import string
table = str.maketrans('', '', string.punctuation)
stripped = [w.translate(table) for w in tokens]

# filter out stop words
from nltk.corpus import stopwords
stop_words = set(stopwords.words('english'))
words = [w for w in stripped if not w in stop_words]

bad_chars = [';', ':', '!', "*", '%','#','@','←','→','∞','“','”','’','=','>','.','—'] 
 
# remove bad_chars  
test_string = filter(lambda i: i not in bad_chars, words)

d17= list(filter(None,test_string))
#print(w)

In [107]:
################18

In [274]:
#load data
filename = 'documents/document_18.txt'
file = open(filename, 'rt')
text = file.read()
#print (text)
file.close()
# split into words
from nltk.tokenize import word_tokenize
tokens = word_tokenize(text)
# print (tokens)
# convert to lower case
tokens = [w.lower() for w in tokens]

# # remove punctuation from each word
import string
table = str.maketrans('', '', string.punctuation)
stripped = [w.translate(table) for w in tokens]

# filter out stop words
from nltk.corpus import stopwords
stop_words = set(stopwords.words('english'))
words = [w for w in stripped if not w in stop_words]

bad_chars = [';', ':', '!', "*", '%','#','@','←','→','∞','“','”','’','=','>','.','—'] 
 
# remove bad_chars  
test_string = filter(lambda i: i not in bad_chars, words)

d18= list(filter(None,test_string))
#print(w)

In [110]:
################19

In [275]:
#load data
filename = 'documents/document_19.txt'
file = open(filename, 'rt')
text = file.read()
#print (text)
file.close()
# split into words
from nltk.tokenize import word_tokenize
tokens = word_tokenize(text)
# print (tokens)
# convert to lower case
tokens = [w.lower() for w in tokens]

# # remove punctuation from each word
import string
table = str.maketrans('', '', string.punctuation)
stripped = [w.translate(table) for w in tokens]

# filter out stop words
from nltk.corpus import stopwords
stop_words = set(stopwords.words('english'))
words = [w for w in stripped if not w in stop_words]

bad_chars = [';', ':', '!', "*", '%','#','@','←','→','∞','“','”','’','=','>','.','—'] 
 
# remove bad_chars  
test_string = filter(lambda i: i not in bad_chars, words)



d19= list(filter(None,test_string))
#print(w)

In [113]:
################20

In [276]:
#load data
filename = 'documents/document_20.txt'
file = open(filename, 'rt')
text = file.read()
#print (text)
file.close()
# split into words
from nltk.tokenize import word_tokenize
tokens = word_tokenize(text)
# print (tokens)
# convert to lower case
tokens = [w.lower() for w in tokens]

# # remove punctuation from each word
import string
table = str.maketrans('', '', string.punctuation)
stripped = [w.translate(table) for w in tokens]

# filter out stop words
from nltk.corpus import stopwords
stop_words = set(stopwords.words('english'))
words = [w for w in stripped if not w in stop_words]

bad_chars = [';', ':', '!', "*", '%','#','@','←','→','∞','“','”','’','=','>','.','—'] 
 
# remove bad_chars  
test_string = filter(lambda i: i not in bad_chars, words)




d20= list(filter(None,test_string))
#print(w)

In [278]:
text= "tennis match"
from nltk.tokenize import word_tokenize
tokens = word_tokenize(text)
# print (tokens)
# convert to lower case
tokens = [w.lower() for w in tokens]

# # remove punctuation from each word
import string
table = str.maketrans('', '', string.punctuation)
stripped = [w.translate(table) for w in tokens]

# filter out stop words
from nltk.corpus import stopwords
stop_words = set(stopwords.words('english'))
words = [w for w in stripped if not w in stop_words]

bad_chars = [';', ':', '!', "*", '%','#','@','←','→','∞','“','”','’','=','>','.','—'] 
 
# remove bad_chars  
test_string = filter(lambda i: i not in bad_chars, words)

d21= list(filter(None,test_string))

In [226]:
# d21

In [280]:
text="88 thousand people!"
from nltk.tokenize import word_tokenize
tokens = word_tokenize(text)
# print (tokens)
# convert to lower case
tokens = [w.lower() for w in tokens]

# # remove punctuation from each word
import string
table = str.maketrans('', '', string.punctuation)
stripped = [w.translate(table) for w in tokens]

# filter out stop words
from nltk.corpus import stopwords
stop_words = set(stopwords.words('english'))
words = [w for w in stripped if not w in stop_words]

bad_chars = [';', ':', '!', "*", '%','#','@','←','→','∞','“','”','’','=','>','.','—'] 
 
# remove bad_chars  
test_string = filter(lambda i: i not in bad_chars, words)

d22= list(filter(None,test_string))

In [281]:
text= "the plastic container; see <img src='drawing.jpg' alt=''>"
from nltk.tokenize import word_tokenize
tokens = word_tokenize(text)
# print (tokens)
# convert to lower case
tokens = [w.lower() for w in tokens]

# # remove punctuation from each word
import string
table = str.maketrans('', '', string.punctuation)
stripped = [w.translate(table) for w in tokens]

# filter out stop words
from nltk.corpus import stopwords
stop_words = set(stopwords.words('english'))
words = [w for w in stripped if not w in stop_words]

bad_chars = [';', ':', '!', "*", '%','#','@','←','→','∞','“','”','’','=','>','.','—'] 
 
# remove bad_chars  
test_string = filter(lambda i: i not in bad_chars, words)

d23= list(filter(None,test_string))

In [282]:
########### work

In [283]:
#print(d1,d2,d3,d4,d5,d6,d7,d8,d9,d10,d11,d12,d13,d14,d15,d16,d17,d18,d19,d20)

In [284]:
def Union(d1,d2,d3,d4,d5,d6,d7,d8,d9,d10,d11,d12,d13,d14,d15,d16,d17,d18,d19,d20,d21,d22,d23): 
    final_list = list(set().union(d1,d2,d3,d4,d5,d6,d7,d8,d9,d10,d11,d12,d13,d14,d15,d16,d17,d18,d19,d20,d21,d22,d23)) 
    return final_list 

f=(Union(d1,d2,d3,d4,d5,d6,d7,d8,d9,d10,d11,d12,d13,d14,d15,d16,d17,d18,d19,d20,d21,d22,d23))

In [285]:
d_1 = dict.fromkeys(f, 0) 
d_2= dict.fromkeys(f, 0)
d_3 = dict.fromkeys(f, 0) 
d_4= dict.fromkeys(f, 0)
d_5 = dict.fromkeys(f, 0) 
d_6= dict.fromkeys(f, 0)
d_7 = dict.fromkeys(f, 0) 
d_8= dict.fromkeys(f, 0)
d_9 = dict.fromkeys(f, 0) 
d_10= dict.fromkeys(f, 0)
d_11 = dict.fromkeys(f, 0) 
d_12= dict.fromkeys(f, 0)
d_13 = dict.fromkeys(f, 0) 
d_14= dict.fromkeys(f, 0)
d_15 = dict.fromkeys(f, 0) 
d_16= dict.fromkeys(f, 0)
d_17 = dict.fromkeys(f, 0) 
d_18= dict.fromkeys(f, 0)
d_19 = dict.fromkeys(f, 0) 
d_20= dict.fromkeys(f, 0)
d_21= dict.fromkeys(f, 0)
d_22= dict.fromkeys(f, 0)
d_23= dict.fromkeys(f, 0)

In [286]:
for word in d1:
    d_1[word]+=1
    
for word in d2:
    d_2[word]+=1
    
for word in d3:
    d_3[word]+=1
    
for word in d4:
    d_4[word]+=1
    
for word in d5:
    d_5[word]+=1
    
for word in d6:
    d_6[word]+=1
    
for word in d7:
    d_7[word]+=1
    
for word in d8:
    d_8[word]+=1
    
for word in d9:
    d_9[word]+=1
    
for word in d10:
    d_4[word]+=1
    
for word in d11:
    d_11[word]+=1
    
for word in d12:
    d_12[word]+=1
    
for word in d13:
    d_13[word]+=1
    
for word in d14:
    d_14[word]+=1
    
for word in d15:
    d_15[word]+=1
    
for word in d16:
    d_16[word]+=1
    
for word in d17:
    d_17[word]+=1
    
for word in d18:
    d_18[word]+=1
    
for word in d19:
    d_19[word]+=1
    
for word in d20:
    d_20[word]+=1
    
for word in d21:
    d_21[word]+=1
    
for word in d22:
    d_22[word]+=1

for word in d23:
    d_23[word]+=1

In [287]:
pd.DataFrame([d_1,d_2,d_3,d_4,d_5,d_6,d_7,d_8,d_9,d_10,d_11,d_12,d_13,d_14,d_15,d_16,d_17,d_18,d_19,d_20,d_21,d_22,d_23])

,0,01oct55,02,028,02apr56,02may56,03,03dec55,03mar56,03sep55,...,–,—founded,—king,—silence,—were,€200000,−14,−892,번,호
0,0,0,0,0,0,0,0,0,0,0,...,1,0,0,0,0,0,0,0,0,0
1,0,0,0,0,0,0,0,0,0,0,...,6,0,0,0,0,0,0,1,0,0
2,1,0,0,0,0,0,0,0,0,0,...,1,0,0,0,0,0,0,0,0,0
3,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
4,17,0,0,0,0,0,0,0,0,0,...,55,0,0,0,0,1,0,0,0,0
5,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
6,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
7,1,0,0,0,0,0,0,0,0,0,...,1,0,0,0,0,0,0,0,1,1
8,0,0,0,0,0,0,0,0,0,0,...,1,0,0,0,0,0,0,0,0,0
9,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
10,11,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
11,8,0,0,0,0,0,0,0,0,0,...,5,0,0,0,0,0,0,0,0,0
12,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
13,0,1,0,0,1,1,0,1,1,1,...,0,0,0,0,0,0,0,0,0,0
14,0,0,2,1,0,0,1,0,0,0,...,7,0,0,0,0,0,0,0,0,0
15,0,0,0,0,0,0,0,0,0,0,...,1,0,0,0,0,0,0,0,0,0
16,0,0,0,0,0,0,0,0,0,0,...,2,0,0,0,0,0,0,0,0,0
17,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
18,0,0,0,0,0,0,0,0,0,0,...,13,0,0,1,0,0,1,0,0,0
19,0,0,0,0,0,0,0,0,0,0,...,1,1,1,0,1,0,0,0,0,0
20,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
21,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
22,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0

# compute Term Frequency:

TF (Term Frequency)= (Number of time the word occurs in the text) / (Total number of words in text)

In [288]:
def computeTF(d_, d):
    tfDict = {}
    bowCount = len(d)
    for word, count in d_.items():
        tfDict[word] = count/float(bowCount)
    return tfDict

In [289]:
tfd_1 = computeTF(d_1, d1)
tfd_2 = computeTF(d_2, d2)
tfd_3 = computeTF(d_3, d3)
tfd_4 = computeTF(d_4, d4)
tfd_5 = computeTF(d_5, d5)
tfd_6 = computeTF(d_6, d6)
tfd_7 = computeTF(d_7, d7)
tfd_8 = computeTF(d_8, d8)
tfd_9 = computeTF(d_9, d9)
tfd_10 = computeTF(d_10, d10)
tfd_11 = computeTF(d_11, d11)
tfd_12 = computeTF(d_12, d12)
tfd_13 = computeTF(d_13, d13)
tfd_14 = computeTF(d_14, d14)
tfd_15 = computeTF(d_15, d15)
tfd_16 = computeTF(d_16, d16)
tfd_17 = computeTF(d_17, d17)
tfd_18 = computeTF(d_18, d18)
tfd_19 = computeTF(d_19, d19)
tfd_20 = computeTF(d_20, d20)
tfd_21 = computeTF(d_21, d21)
tfd_22 = computeTF(d_22, d22)
tfd_23 = computeTF(d_20, d23)

# tfBowB = computeTF(wordDictB, bowB)

# compte Inverse Document Frequency:

IDF (Inverse Document Frequency)= (Total number of documents / Number of documents with word t in it)

In [290]:
def computeIDF(docList):
    import math
    idfDict = {}
    N = len(docList)
    
    idfDict = dict.fromkeys(docList[0].keys(), 0)
    for doc in docList:
        for word, val in doc.items():
            if val > 0:
                idfDict[word] += 1
    
    for word, val in idfDict.items():
        idfDict[word] = math.log10(N / float(val))
        
    return idfDict

In [291]:
idfs = computeIDF([d_1, d_2,d_3,d_4,d_5,d_6, d_7,d_8,d_9,d_10,d_11, d_12,d_13,d_14,d_15,d_16, d_17,d_18,d_19,d_20,d_21,d_22,d_23])

In [199]:
# idfs

# computeTFIDF:

TF-IDF = TF * IDF

In [292]:
def computeTFIDF(tfd_, idfs):
    tfidf = {}
    for word, val in tfd_.items():
        tfidf[word] = val*idfs[word]
    return tfidf

In [293]:
tfidfd_1 = computeTFIDF(tfd_1, idfs)
tfidfd_2 = computeTFIDF(tfd_2, idfs)
tfidfd_3 = computeTFIDF(tfd_3, idfs)
tfidfd_4 = computeTFIDF(tfd_4, idfs)
tfidfd_5 = computeTFIDF(tfd_5, idfs)
tfidfd_6 = computeTFIDF(tfd_6, idfs)
tfidfd_7 = computeTFIDF(tfd_7, idfs)
tfidfd_8 = computeTFIDF(tfd_8, idfs)
tfidfd_9 = computeTFIDF(tfd_9, idfs)
tfidfd_10 = computeTFIDF(tfd_10, idfs)
tfidfd_11 = computeTFIDF(tfd_11, idfs)
tfidfd_12 = computeTFIDF(tfd_12, idfs)
tfidfd_13 = computeTFIDF(tfd_13, idfs)
tfidfd_14 = computeTFIDF(tfd_14, idfs)
tfidfd_15 = computeTFIDF(tfd_15, idfs)
tfidfd_16 = computeTFIDF(tfd_16, idfs)
tfidfd_17 = computeTFIDF(tfd_17, idfs)
tfidfd_18 = computeTFIDF(tfd_18, idfs)
tfidfd_19 = computeTFIDF(tfd_19, idfs)
tfidfd_20 = computeTFIDF(tfd_20, idfs)
tfidfd_21 = computeTFIDF(tfd_21, idfs)
tfidfd_22 = computeTFIDF(tfd_22, idfs)
tfidfd_23 = computeTFIDF(tfd_23, idfs)

In [299]:
import pandas as pd
result1=pd.DataFrame([tfidfd_1, tfidfd_2,tfidfd_3,tfidfd_4,tfidfd_5,tfidfd_6,tfidfd_7,tfidfd_8,tfidfd_9,tfidfd_10,
             tfidfd_11, tfidfd_12,tfidfd_13,tfidfd_14,tfidfd_15,tfidfd_16,tfidfd_17,tfidfd_18,tfidfd_19,tfidfd_20,
             tfidfd_21,tfidfd_22,tfidfd_23])
result1

,0,01oct55,02,028,02apr56,02may56,03,03dec55,03mar56,03sep55,...,–,—founded,—king,—silence,—were,€200000,−14,−892,번,호
0,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,...,0.000139,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
1,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,...,0.000986,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000792,0.000000,0.000000
2,0.002999,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,...,0.001278,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
3,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,...,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
4,0.002701,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,...,0.003726,0.000000,0.000000,0.000000,0.000000,0.000326,0.000000,0.000000,0.000000,0.000000
5,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,...,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
6,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,...,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
7,0.000174,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,...,0.000074,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000357,0.000357
8,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,...,0.001385,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
9,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,...,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
10,0.005170,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,...,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
11,0.006686,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,...,0.001782,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
12,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,...,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
13,0.000000,0.001288,0.000000,0.000000,0.001288,0.001288,0.000000,0.001288,0.001288,0.001288,...,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
14,0.000000,0.000000,0.000848,0.000424,0.000000,0.000000,0.000424,0.000000,0.000000,0.000000,...,0.000616,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
15,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,...,0.000274,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
16,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,...,0.000744,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
17,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,...,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
18,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,...,0.000411,0.000000,0.000000,0.000153,0.000000,0.000000,0.000153,0.000000,0.000000,0.000000
19,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,...,0.000031,0.000151,0.000151,0.000000,0.000151,0.000000,0.000000,0.000000,0.000000,0.000000
20,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,...,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
21,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,...,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
22,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,...,0.047091,0.226955,0.226955,0.000000,0.226955,0.000000,0.000000,0.000000,0.000000,0.000000

In [298]:
np.savetxt(r'result1.txt', result1.values, fmt='%d')