In [35]:
from sklearn.feature_extraction.text import CountVectorizer
from sklearn.feature_extraction.text import TfidfTransformer
import numpy as np
import pandas as pd
import re

In [36]:
##################1

In [37]:
# load data
filename = 'documents/document_1.txt'
file = open(filename, 'rt')
text = file.read()
#print (text)
file.close()
# split into words
from nltk.tokenize import word_tokenize
tokens = word_tokenize(text)
# print (tokens)
# convert to lower case
tokens = [w.lower() for w in tokens]

# # remove punctuation from each word
import string
table = str.maketrans('', '', string.punctuation)
stripped = [w.translate(table) for w in tokens]




w = list(filter(None,stripped))
#print(w)

In [38]:
len(w)

3477

In [39]:
import operator
freq_dis={}
for tok in w:
    if tok in freq_dis:
        freq_dis[tok] += 1
    else:
        freq_dis[tok] = 1

In [40]:
sorted_freq_dist= sorted(freq_dis.items(), key=operator.itemgetter(1),
reverse=True)

In [41]:
doc1=pd.DataFrame(sorted_freq_dist)
doc1.head(1)

     0    1
0  the  273

In [42]:
doc1[1].sum()

3477

In [43]:
doc1.rename(columns={doc1.columns[0]: "doc1", doc1.columns[1]: "feq_doc1"}, inplace=True)

In [44]:
doc1.head(1)

  doc1  feq_doc1
0  the       273

In [45]:
################################2

In [46]:
#  load data
filename = 'documents/document_2.txt'
file = open(filename, 'rt')
text = file.read()
#print (text)
file.close()
# split into words
from nltk.tokenize import word_tokenize
tokens = word_tokenize(text)
# print (tokens)
# convert to lower case
tokens = [w.lower() for w in tokens]

# # remove punctuation from each word
import string
table = str.maketrans('', '', string.punctuation)
stripped = [w.translate(table) for w in tokens]


f = list(filter(None,stripped))
#print(w)

In [47]:
import operator
freq_dis={}
for tok in f:
    if tok in freq_dis:
        freq_dis[tok] += 1
    else:
        freq_dis[tok] = 1

In [48]:
sorted_freq_dist= sorted(freq_dis.items(), key=operator.itemgetter(1),
reverse=True)

In [49]:
doc2 =pd.DataFrame(sorted_freq_dist)
doc2.head(1)

     0    1
0  the  322

In [50]:
doc2.rename(columns={doc2.columns[0]: "doc2", doc2.columns[1]: "feq_doc2"}, inplace=True)

In [51]:
doc2.head(1)

  doc2  feq_doc2
0  the       322

In [52]:
##########################3

In [53]:
#  load data
filename = 'documents/document_3.txt'
file = open(filename, 'rt')
text = file.read()
#print (text)
file.close()
# split into words
from nltk.tokenize import word_tokenize
tokens = word_tokenize(text)
# print (tokens)
# convert to lower case
tokens = [w.lower() for w in tokens]

# # remove punctuation from each word
import string
table = str.maketrans('', '', string.punctuation)
stripped = [w.translate(table) for w in tokens]


l = list(filter(None,stripped))
#print(w)

In [54]:
import operator
freq_dis={}
for tok in l:
    if tok in freq_dis:
        freq_dis[tok] += 1
    else:
        freq_dis[tok] = 1

In [55]:
sorted_freq_dist= sorted(freq_dis.items(), key=operator.itemgetter(1),
reverse=True)

In [56]:
doc3=pd.DataFrame(sorted_freq_dist)
doc3.head(1)

     0   1
0  the  25

In [57]:
doc3.rename(columns={doc3.columns[0]: "doc3", doc3.columns[1]: "feq_doc3"}, inplace=True)

In [58]:
doc3.head(1)

  doc3  feq_doc3
0  the        25

In [59]:
#################4

In [60]:
#load data
filename = 'documents/document_4.txt'
file = open(filename, 'rt')
text = file.read()
#print (text)
file.close()
# split into words
from nltk.tokenize import word_tokenize
tokens = word_tokenize(text)
# print (tokens)
# convert to lower case
tokens = [w.lower() for w in tokens]

# # remove punctuation from each word
import string
table = str.maketrans('', '', string.punctuation)
stripped = [w.translate(table) for w in tokens]


m = list(filter(None,stripped))
#print(w)

In [61]:
import operator
freq_dis={}
for tok in l:
    if tok in freq_dis:
        freq_dis[tok] += 1
    else:
        freq_dis[tok] = 1

In [62]:
sorted_freq_dist= sorted(freq_dis.items(), key=operator.itemgetter(1),
reverse=True)

In [63]:
doc4=pd.DataFrame(sorted_freq_dist)
doc4.head(1)

     0   1
0  the  25

In [64]:
doc4.rename(columns={doc4.columns[0]: "doc4", doc4.columns[1]: "feq_doc4"}, inplace=True)

In [65]:
doc4.head(1)

  doc4  feq_doc4
0  the        25

In [66]:
#################5

In [67]:
#load data
filename = 'documents/document_5.txt'
file = open(filename, 'rt')
text = file.read()
#print (text)
file.close()
# split into words
from nltk.tokenize import word_tokenize
tokens = word_tokenize(text)
# print (tokens)
# convert to lower case
tokens = [w.lower() for w in tokens]

# # remove punctuation from each word
import string
table = str.maketrans('', '', string.punctuation)
stripped = [w.translate(table) for w in tokens]


n = list(filter(None,stripped))
#print(w)

import operator
freq_dis={}
for tok in n:
    if tok in freq_dis:
        freq_dis[tok] += 1
    else:
        freq_dis[tok] = 1

sorted_freq_dist= sorted(freq_dis.items(), key=operator.itemgetter(1),
reverse=True)

In [68]:
doc5=pd.DataFrame(sorted_freq_dist)
doc5.head(1)

     0    1
0  the  612

In [69]:
doc5.rename(columns={doc5.columns[0]: "doc5", doc5.columns[1]: "feq_doc5"}, inplace=True)

In [70]:
doc5.head(1)

  doc5  feq_doc5
0  the       612

In [71]:
###############6

In [72]:
#load data
filename = 'documents/document_6.txt'
file = open(filename, 'rt')
text = file.read()
#print (text)
file.close()
# split into words
from nltk.tokenize import word_tokenize
tokens = word_tokenize(text)
# print (tokens)
# convert to lower case
tokens = [w.lower() for w in tokens]

# # remove punctuation from each word
import string
table = str.maketrans('', '', string.punctuation)
stripped = [w.translate(table) for w in tokens]


o = list(filter(None,stripped))
#print(w)

import operator
freq_dis={}
for tok in o:
    if tok in freq_dis:
        freq_dis[tok] += 1
    else:
        freq_dis[tok] = 1

sorted_freq_dist= sorted(freq_dis.items(), key=operator.itemgetter(1),
reverse=True)



doc6=pd.DataFrame(sorted_freq_dist)
doc6.head(1)

     0    1
0  the  407

In [73]:
doc6.rename(columns={doc6.columns[0]: "doc6", doc6.columns[1]: "feq_doc6"}, inplace=True)

doc6.head(1)

  doc6  feq_doc6
0  the       407

In [74]:
########################7

In [75]:
#load data
filename = 'documents/document_7.txt'
file = open(filename, 'rt')
text = file.read()
#print (text)
file.close()
# split into words
from nltk.tokenize import word_tokenize
tokens = word_tokenize(text)
# print (tokens)
# convert to lower case
tokens = [w.lower() for w in tokens]

# # remove punctuation from each word
import string
table = str.maketrans('', '', string.punctuation)
stripped = [w.translate(table) for w in tokens]


p = list(filter(None,stripped))
#print(w)

import operator
freq_dis={}
for tok in p:
    if tok in freq_dis:
        freq_dis[tok] += 1
    else:
        freq_dis[tok] = 1

sorted_freq_dist= sorted(freq_dis.items(), key=operator.itemgetter(1),
reverse=True)



doc7=pd.DataFrame(sorted_freq_dist)
doc7.head(1)

     0    1
0  the  266

In [76]:
doc7.rename(columns={doc7.columns[0]: "doc7", doc7.columns[1]: "feq_doc7"}, inplace=True)

doc7.head(1)

  doc7  feq_doc7
0  the       266

In [77]:
####################8

In [78]:
#load data
filename = 'documents/document_8.txt'
file = open(filename, 'rt')
text = file.read()
#print (text)
file.close()
# split into words
from nltk.tokenize import word_tokenize
tokens = word_tokenize(text)
# print (tokens)
# convert to lower case
tokens = [w.lower() for w in tokens]

# # remove punctuation from each word
import string
table = str.maketrans('', '', string.punctuation)
stripped = [w.translate(table) for w in tokens]


q = list(filter(None,stripped))
#print(w)

import operator
freq_dis={}
for tok in q:
    if tok in freq_dis:
        freq_dis[tok] += 1
    else:
        freq_dis[tok] = 1

sorted_freq_dist= sorted(freq_dis.items(), key=operator.itemgetter(1),
reverse=True)



doc8=pd.DataFrame(sorted_freq_dist)
doc8.head(1)

     0    1
0  the  504

In [79]:
doc8.rename(columns={doc8.columns[0]: "doc8", doc8.columns[1]: "feq_doc8"}, inplace=True)

doc8.head(1)

  doc8  feq_doc8
0  the       504

In [80]:
#####################9

In [81]:
#load data
filename = 'documents/document_9.txt'
file = open(filename, 'rt')
text = file.read()
#print (text)
file.close()
# split into words
from nltk.tokenize import word_tokenize
tokens = word_tokenize(text)
# print (tokens)
# convert to lower case
tokens = [w.lower() for w in tokens]

# # remove punctuation from each word
import string
table = str.maketrans('', '', string.punctuation)
stripped = [w.translate(table) for w in tokens]


r= list(filter(None,stripped))
#print(w)

import operator
freq_dis={}
for tok in r:
    if tok in freq_dis:
        freq_dis[tok] += 1
    else:
        freq_dis[tok] = 1

sorted_freq_dist= sorted(freq_dis.items(), key=operator.itemgetter(1),
reverse=True)



doc9=pd.DataFrame(sorted_freq_dist)
doc9.head(1)

     0   1
0  the  23

In [82]:
doc9.rename(columns={doc9.columns[0]: "doc9", doc9.columns[1]: "feq_doc9"}, inplace=True)

doc9.head(1)

  doc9  feq_doc9
0  the        23

In [83]:
##################10

In [84]:
#load data
filename = 'documents/document_10.txt'
file = open(filename, 'rt')
text = file.read()
#print (text)
file.close()
# split into words
from nltk.tokenize import word_tokenize
tokens = word_tokenize(text)
# print (tokens)
# convert to lower case
tokens = [w.lower() for w in tokens]

# # remove punctuation from each word
import string
table = str.maketrans('', '', string.punctuation)
stripped = [w.translate(table) for w in tokens]


s= list(filter(None,stripped))
#print(w)

import operator
freq_dis={}
for tok in s:
    if tok in freq_dis:
        freq_dis[tok] += 1
    else:
        freq_dis[tok] = 1

sorted_freq_dist= sorted(freq_dis.items(), key=operator.itemgetter(1),
reverse=True)



doc10=pd.DataFrame(sorted_freq_dist)
doc10.head(1)

     0   1
0  the  26

In [85]:
doc10.rename(columns={doc10.columns[0]: "doc10", doc10.columns[1]: "feq_doc10"}, inplace=True)

doc10.head(1)

  doc10  feq_doc10
0   the         26

In [86]:
##################11

In [87]:
#load data
filename = 'documents/document_11.txt'
file = open(filename, 'rt')
text = file.read()
#print (text)
file.close()
# split into words
from nltk.tokenize import word_tokenize
tokens = word_tokenize(text)
# print (tokens)
# convert to lower case
tokens = [w.lower() for w in tokens]

# # remove punctuation from each word
import string
table = str.maketrans('', '', string.punctuation)
stripped = [w.translate(table) for w in tokens]


t= list(filter(None,stripped))
#print(w)

import operator
freq_dis={}
for tok in t:
    if tok in freq_dis:
        freq_dis[tok] += 1
    else:
        freq_dis[tok] = 1

sorted_freq_dist= sorted(freq_dis.items(), key=operator.itemgetter(1),
reverse=True)



doc11=pd.DataFrame(sorted_freq_dist)
doc11.head(1)

   0    1
0  1  148

In [88]:
doc11.rename(columns={doc11.columns[0]: "doc11", doc11.columns[1]: "feq_doc11"}, inplace=True)

doc11.head(1)

  doc11  feq_doc11
0     1        148

In [89]:
###############12

In [90]:
#load data
filename = 'documents/document_12.txt'
file = open(filename, 'rt')
text = file.read()
#print (text)
file.close()
# split into words
from nltk.tokenize import word_tokenize
tokens = word_tokenize(text)
# print (tokens)
# convert to lower case
tokens = [w.lower() for w in tokens]

# # remove punctuation from each word
import string
table = str.maketrans('', '', string.punctuation)
stripped = [w.translate(table) for w in tokens]


u= list(filter(None,stripped))
#print(w)

import operator
freq_dis={}
for tok in u:
    if tok in freq_dis:
        freq_dis[tok] += 1
    else:
        freq_dis[tok] = 1

sorted_freq_dist= sorted(freq_dis.items(), key=operator.itemgetter(1),
reverse=True)



doc12=pd.DataFrame(sorted_freq_dist)
doc12.head(1)

     0   1
0  the  62

In [91]:
doc12.rename(columns={doc12.columns[0]: "doc12", doc12.columns[1]: "feq_doc12"}, inplace=True)

doc12.head(1)

  doc12  feq_doc12
0   the         62

In [92]:
################# 13

In [93]:
#load data
filename = 'documents/document_13.txt'
file = open(filename, 'rt')
text = file.read()
#print (text)
file.close()
# split into words
from nltk.tokenize import word_tokenize
tokens = word_tokenize(text)
# print (tokens)
# convert to lower case
tokens = [w.lower() for w in tokens]

# # remove punctuation from each word
import string
table = str.maketrans('', '', string.punctuation)
stripped = [w.translate(table) for w in tokens]


v= list(filter(None,stripped))
#print(w)

import operator
freq_dis={}
for tok in v:
    if tok in freq_dis:
        freq_dis[tok] += 1
    else:
        freq_dis[tok] = 1

sorted_freq_dist= sorted(freq_dis.items(), key=operator.itemgetter(1),
reverse=True)



doc13=pd.DataFrame(sorted_freq_dist)
doc13.head(1)

     0   1
0  the  30

In [94]:
doc13.rename(columns={doc13.columns[0]: "doc13", doc13.columns[1]: "feq_doc13"}, inplace=True)

doc13.head(1)

  doc13  feq_doc13
0   the         30

In [95]:
#################14

In [96]:
#load data
filename = 'documents/document_14.txt'
file = open(filename, 'rt')
text = file.read()
#print (text)
file.close()
# split into words
from nltk.tokenize import word_tokenize
tokens = word_tokenize(text)
# print (tokens)
# convert to lower case
tokens = [w.lower() for w in tokens]

# # remove punctuation from each word
import string
table = str.maketrans('', '', string.punctuation)
stripped = [w.translate(table) for w in tokens]


x= list(filter(None,stripped))
#print(w)

import operator
freq_dis={}
for tok in x:
    if tok in freq_dis:
        freq_dis[tok] += 1
    else:
        freq_dis[tok] = 1

sorted_freq_dist= sorted(freq_dis.items(), key=operator.itemgetter(1),
reverse=True)



doc14=pd.DataFrame(sorted_freq_dist)
doc14.head(1)

        0   1
0  report  98

In [97]:
doc14.rename(columns={doc14.columns[0]: "doc14", doc14.columns[1]: "feq_doc14"}, inplace=True)

doc14.head(1)

    doc14  feq_doc14
0  report         98

In [98]:
################15

In [99]:
#load data
filename = 'documents/document_15.txt'
file = open(filename, 'rt')
text = file.read()
#print (text)
file.close()
# split into words
from nltk.tokenize import word_tokenize
tokens = word_tokenize(text)
# print (tokens)
# convert to lower case
tokens = [w.lower() for w in tokens]

# # remove punctuation from each word
import string
table = str.maketrans('', '', string.punctuation)
stripped = [w.translate(table) for w in tokens]


y= list(filter(None,stripped))
#print(w)

import operator
freq_dis={}
for tok in y:
    if tok in freq_dis:
        freq_dis[tok] += 1
    else:
        freq_dis[tok] = 1

sorted_freq_dist= sorted(freq_dis.items(), key=operator.itemgetter(1),
reverse=True)



doc15=pd.DataFrame(sorted_freq_dist)
doc15.head(1)

     0    1
0  the  261

In [100]:
doc15.rename(columns={doc15.columns[0]: "doc15", doc15.columns[1]: "feq_doc15"}, inplace=True)

doc15.head(1)

  doc15  feq_doc15
0   the        261

In [101]:
########################16

In [102]:
#load data
filename = 'documents/document_16.txt'
file = open(filename, 'rt')
text = file.read()
#print (text)
file.close()
# split into words
from nltk.tokenize import word_tokenize
tokens = word_tokenize(text)
# print (tokens)
# convert to lower case
tokens = [w.lower() for w in tokens]

# # remove punctuation from each word
import string
table = str.maketrans('', '', string.punctuation)
stripped = [w.translate(table) for w in tokens]


r= list(filter(None,stripped))
#print(w)

import operator
freq_dis={}
for tok in r:
    if tok in freq_dis:
        freq_dis[tok] += 1
    else:
        freq_dis[tok] = 1

sorted_freq_dist= sorted(freq_dis.items(), key=operator.itemgetter(1),
reverse=True)



doc16=pd.DataFrame(sorted_freq_dist)
doc16.head(1)

     0    1
0  the  106

In [103]:
doc16.rename(columns={doc16.columns[0]: "doc16", doc16.columns[1]: "feq_doc16"}, inplace=True)

doc16.head(1)

  doc16  feq_doc16
0   the        106

In [104]:
################17

In [105]:
#load data
filename = 'documents/document_17.txt'
file = open(filename, 'rt')
text = file.read()
#print (text)
file.close()
# split into words
from nltk.tokenize import word_tokenize
tokens = word_tokenize(text)
# print (tokens)
# convert to lower case
tokens = [w.lower() for w in tokens]

# # remove punctuation from each word
import string
table = str.maketrans('', '', string.punctuation)
stripped = [w.translate(table) for w in tokens]


rr= list(filter(None,stripped))
#print(w)

import operator
freq_dis={}
for tok in rr:
    if tok in freq_dis:
        freq_dis[tok] += 1
    else:
        freq_dis[tok] = 1

sorted_freq_dist= sorted(freq_dis.items(), key=operator.itemgetter(1),
reverse=True)



doc17=pd.DataFrame(sorted_freq_dist)
doc17.head(1)

     0   1
0  the  80

In [106]:
doc17.rename(columns={doc17.columns[0]: "doc17", doc17.columns[1]: "feq_doc17"}, inplace=True)

doc17.head(1)

  doc17  feq_doc17
0   the         80

In [107]:
################18

In [108]:
#load data
filename = 'documents/document_18.txt'
file = open(filename, 'rt')
text = file.read()
#print (text)
file.close()
# split into words
from nltk.tokenize import word_tokenize
tokens = word_tokenize(text)
# print (tokens)
# convert to lower case
tokens = [w.lower() for w in tokens]

# # remove punctuation from each word
import string
table = str.maketrans('', '', string.punctuation)
stripped = [w.translate(table) for w in tokens]


aa= list(filter(None,stripped))
#print(w)

import operator
freq_dis={}
for tok in aa:
    if tok in freq_dis:
        freq_dis[tok] += 1
    else:
        freq_dis[tok] = 1

sorted_freq_dist= sorted(freq_dis.items(), key=operator.itemgetter(1),
reverse=True)



doc18=pd.DataFrame(sorted_freq_dist)
doc18.head(1)

     0   1
0  the  18

In [109]:
doc18.rename(columns={doc18.columns[0]: "doc18", doc18.columns[1]: "feq_doc18"}, inplace=True)

doc18.head(1)

  doc18  feq_doc18
0   the         18

In [110]:
################19

In [111]:
#load data
filename = 'documents/document_19.txt'
file = open(filename, 'rt')
text = file.read()
#print (text)
file.close()
# split into words
from nltk.tokenize import word_tokenize
tokens = word_tokenize(text)
# print (tokens)
# convert to lower case
tokens = [w.lower() for w in tokens]

# # remove punctuation from each word
import string
table = str.maketrans('', '', string.punctuation)
stripped = [w.translate(table) for w in tokens]


aq= list(filter(None,stripped))
#print(w)

import operator
freq_dis={}
for tok in aq:
    if tok in freq_dis:
        freq_dis[tok] += 1
    else:
        freq_dis[tok] = 1

sorted_freq_dist= sorted(freq_dis.items(), key=operator.itemgetter(1),
reverse=True)



doc19=pd.DataFrame(sorted_freq_dist)
doc19.head(1)

     0    1
0  the  894

In [112]:
doc19.rename(columns={doc19.columns[0]: "doc19", doc19.columns[1]: "feq_doc19"}, inplace=True)

doc19.head(1)

  doc19  feq_doc19
0   the        894

In [113]:
################20

In [114]:
#load data
filename = 'documents/document_20.txt'
file = open(filename, 'rt')
text = file.read()
#print (text)
file.close()
# split into words
from nltk.tokenize import word_tokenize
tokens = word_tokenize(text)
# print (tokens)
# convert to lower case
tokens = [w.lower() for w in tokens]

# # remove punctuation from each word
import string
table = str.maketrans('', '', string.punctuation)
stripped = [w.translate(table) for w in tokens]


ax= list(filter(None,stripped))
#print(w)

import operator
freq_dis={}
for tok in ax:
    if tok in freq_dis:
        freq_dis[tok] += 1
    else:
        freq_dis[tok] = 1

sorted_freq_dist= sorted(freq_dis.items(), key=operator.itemgetter(1),
reverse=True)



doc20=pd.DataFrame(sorted_freq_dist)
doc20.head(1)

     0    1
0  the  963

In [115]:
doc20.rename(columns={doc20.columns[0]: "doc20", doc20.columns[1]: "feq_doc20"}, inplace=True)

doc20.head(1)

  doc20  feq_doc20
0   the        963

In [116]:
########### work

In [117]:
doc=pd.concat([doc1,doc2,doc3,doc4,doc5,doc6,doc7,doc8,doc9,doc10
              ,doc11,doc12,doc12,doc13,doc14,doc15,doc16,doc17,doc18
              ,doc19,doc20], axis=1, sort=False)
doc.head(1)

,doc1,feq_doc1,doc2,feq_doc2,doc3,feq_doc3,doc4,feq_doc4,doc5,feq_doc5,...,doc16,feq_doc16,doc17,feq_doc17,doc18,feq_doc18,doc19,feq_doc19,doc20,feq_doc20
0,the,273.0,the,322.0,the,25.0,the,25.0,the,612.0,...,the,106.0,the,80.0,the,18.0,the,894,the,963.0

In [132]:
result = pd.concat([doc1,doc2,doc3,doc4,doc5,doc6,doc7,doc8,doc9,doc10
              ,doc11,doc12,doc12,doc13,doc14,doc15,doc16,doc17,doc18
              ,doc19,doc20], axis=1, join='inner')
result

,doc1,feq_doc1,doc2,feq_doc2,doc3,feq_doc3,doc4,feq_doc4,doc5,feq_doc5,...,doc16,feq_doc16,doc17,feq_doc17,doc18,feq_doc18,doc19,feq_doc19,doc20,feq_doc20
0,the,273,the,322,the,25,the,25,the,612,...,the,106,the,80,the,18,the,894,the,963
1,of,138,of,111,wanzer,15,wanzer,15,of,191,...,and,56,in,57,and,16,of,600,of,477
2,and,123,and,91,a,9,a,9,in,189,...,in,55,she,35,of,15,in,486,king,414
3,a,84,a,57,in,9,in,9,and,173,...,of,50,and,30,a,14,and,429,and,403
4,to,81,in,56,was,8,was,8,to,136,...,menage,49,of,22,in,11,franklin,402,in,387
5,is,62,cell,54,and,8,and,8,a,121,...,a,41,team,20,haston,7,a,364,to,387
6,as,59,is,53,royals,7,royals,7,oktoberfest,105,...,to,39,ohea,16,book,5,to,345,a,284
7,in,54,as,42,he,6,he,6,is,80,...,s,26,for,16,is,4,his,231,that,209
8,that,41,air,41,hall,5,hall,5,was,64,...,was,24,was,16,rising,4,he,217,was,198
9,with,38,to,37,to,5,to,5,for,55,...,he,24,at,15,dead,4,was,210,s,179
10,or,32,at,34,season,5,season,5,,55,...,his,17,a,15,moon,4,that,142,his,169
11,are,31,it,33,as,4,as,4,with,51,...,minneapolis,15,3,15,echo,4,as,136,he,164
12,santera,28,circulation,32,basketball,4,basketball,4,beer,47,...,1,15,with,13,magical,4,s,133,for,138
13,be,24,are,32,coach,4,coach,4,festival,47,...,for,15,to,13,whispers,4,on,133,on,127
14,for,23,hadley,31,of,4,of,4,at,43,...,with,14,season,13,published,4,for,130,with,108
15,their,23,polar,29,with,4,with,4,on,41,...,king,13,australian,12,for,4,by,114,by,95
16,by,21,by,27,for,4,for,4,by,40,...,by,13,2012,11,elephants,4,with,96,i,95
17,orichs,21,ferrel,27,also,3,also,3,s,39,...,land,12,basketball,11,s,4,from,80,rights,83
18,known,19,that,25,at,3,at,3,tents,39,...,were,11,national,11,was,4,it,64,as,82
19,traditional,19,surface,22,seton,3,seton,3,tent,39,...,real,10,her,11,to,4,philadelphia,59,civil,76
20,from,19,cells,18,after,3,after,3,munich,37,...,estate,10,game,10,from,3,benjamin,58,at,71
21,healing,17,this,17,team,3,team,3,as,37,...,city,10,wnbl,9,fiction,3,an,58,from,66
22,6,17,pacific,17,1,3,1,3,from,36,...,minnesota,9,played,9,historical,3,which,58,an,65
23,an,16,from,16,star,3,star,3,are,36,...,as,8,s,7,blood,3,had,55,it,60
24,also,15,on,16,were,3,were,3,this,36,...,at,8,points,7,doves,3,pennsylvania,54,had,59
25,they,15,s,16,nba,3,nba,3,first,32,...,had,8,per,7,2013,3,is,52,have,55
26,on,14,which,16,his,3,his,3,were,26,...,new,8,jenna,6,an,3,at,52,is,54
27,orich,14,equator,14,on,3,on,3,it,24,...,business,8,2,6,career,3,first,51,march,53
28,which,14,winds,14,4,2,4,2,which,24,...,from,7,4,6,october,3,american,49,luther,52
29,religion,12,toward,14,january,2,january,2,an,23,...,on,7,6,6,class,3,be,47,movement,52
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
110,du,5,its,4,195051,1,195051,1,4,7,...,much,2,information,2,been,1,born,14,years,15
111,health,5,convective,4,national,1,national,1,today,7,...,harriet,2,traralgon,2,augmented,1,read,14,many,15
112,regla,4,time,4,association,1,association,1,outside,7,...,luxury,2,listed,2,recent,1,university,14,when,15
113,och,4,driven,4,title,1,title,1,years,7,...,tallest,2,lb,2,years,1,religious,14,school,15
114,la,4,whose,4,entire,1,entire,1,time,7,...,skyscraper,2,79,2,his,1,college,14,however,15
115,2,4,sink,4,career,1,career,1,citation,7,...,battle,2,school,2,debut,1,electrical,14,my,15
116,spanish,4,process,4,retiring,1,retiring,1,no,7,...,over,2,caulfield,2,novel,1,named,14,both,15
117,means,4,near,4,play,1,play,1,police,7,...,deal,2,grammar,2,followed,1,15,14,social,15
118,syncretized,4,poles,4,end,1,end,1,2005,7,...,panic,2,bendigo,2,almost,1,father,14,party,15
119,21,4,their,4,1957,1,1957,1,2008,7,...,1893,2,spirit,2,contemporaneously,1,three,14,southern,14
120,25,4,such,4,fivetime,1,fivetime,1,smoking,7,...,fled,2,arras,2,first,1,can,14,christian,14
121,american,4,latitudinal,4,allnba,1,allnba,1,small,7,...,avoid,2,los,2,rewritten,1,these,14,april,14
122,sacrifice,4,pattern,4,second,1,second,1,but,7,...,embezzlement,2,angeles,2,final,1,,13,became,14
123,into,4,solar,4,three,1,three,1,historical,7,...,dropped,2,sparks,2,form,1,postmaster,13,called,14
124,what,4,low,4,consecutive,1,consecutive,1,augustiner,7,...,key,2,2,2,september,1,general,13,new,14
125,period,4,main,4,times,1,times,1,closed,7,...,witnesses,2,allstar,2,spartan,1,early,13,police,14
126,all,4,trade,4,195152,1,195152,1,well,7,...,testify,2,hide,2,style,1,work,13,americans,14
127,term,4,side,4,ever,1,ever,1,germany,6,...,him,2,association,2,that,1,folger,13,because,14
128,priest,4,creates,4,shoot,1,shoot,1,name,6,...,spent,2,21,2,often,1,published,13,up,14
129,first,4,parallel,4,over,1,over,1,example,6,...,working,2,22,2,requires,1,over,13,main,14
130,represent,4,equatorial,4,90,1,90,1,chicken,6,...,never,2,23,2,reader,1,see,12,say,14
131,warriors,4,due,4,free,1,free,1,now,6,...,worked,2,overseas,2,provide,1,john,12,are,14
132,initiation,4,conservation,4,throw,1,throw,1,22,6,...,5,2,on,2,linkages,1,17,12,birmingham,13
133,water,4,flow,4,line,1,line,1,restaurateurs,6,...,philanthropy,2,luke,2,within,1,death,12,selma,13
134,specific,4,though,4,2,1,2,1,costume,6,...,6,2,best,2,story,1,deborah,12,nonviolence,13
135,however,4,easterlies,4,naismith,1,naismith,1,7,6,...,collapse,2,teammate,2,line,1,electricity,12,has,13
136,once,4,tropopause,4,memorial,1,memorial,1,ludwig,6,...,7,2,represented,2,characterisation,1,several,12,could,13
137,necklace,4,temperatures,4,1987,1,1987,1,races,6,...,notes,2,u16,2,themes,1,scientific,12,any,13
138,blood,4,north,4,would,1,would,1,tradition,6,...,8,2,ais,2,suffering,1,national,12,before,13
139,elegu,4,even,4,well,1,well,1,however,6,...,father,2,7,2,underprivileged,1,britain,12,their,13

In [118]:
doc.to_csv(r'doc.csv')

In [119]:
doc=pd.read_csv('doc.csv')
doc.head()

,Unnamed: 0,doc1,feq_doc1,doc2,feq_doc2,doc3,feq_doc3,doc4,feq_doc4,doc5,...,doc16,feq_doc16,doc17,feq_doc17,doc18,feq_doc18,doc19,feq_doc19,doc20,feq_doc20
0,0,the,273.0,the,322.0,the,25.0,the,25.0,the,...,the,106.0,the,80.0,the,18.0,the,894,the,963.0
1,1,of,138.0,of,111.0,wanzer,15.0,wanzer,15.0,of,...,and,56.0,in,57.0,and,16.0,of,600,of,477.0
2,2,and,123.0,and,91.0,a,9.0,a,9.0,in,...,in,55.0,she,35.0,of,15.0,in,486,king,414.0
3,3,a,84.0,a,57.0,in,9.0,in,9.0,and,...,of,50.0,and,30.0,a,14.0,and,429,and,403.0
4,4,to,81.0,in,56.0,was,8.0,was,8.0,to,...,menage,49.0,of,22.0,in,11.0,franklin,402,in,387.0

In [120]:
doc.loc['sum'] = doc.sum()
doc.head()

,Unnamed: 0,doc1,feq_doc1,doc2,feq_doc2,doc3,feq_doc3,doc4,feq_doc4,doc5,...,doc16,feq_doc16,doc17,feq_doc17,doc18,feq_doc18,doc19,feq_doc19,doc20,feq_doc20
0,0,the,273.0,the,322.0,the,25.0,the,25.0,the,...,the,106.0,the,80.0,the,18.0,the,894,the,963.0
1,1,of,138.0,of,111.0,wanzer,15.0,wanzer,15.0,of,...,and,56.0,in,57.0,and,16.0,of,600,of,477.0
2,2,and,123.0,and,91.0,a,9.0,a,9.0,in,...,in,55.0,she,35.0,of,15.0,in,486,king,414.0
3,3,a,84.0,a,57.0,in,9.0,in,9.0,and,...,of,50.0,and,30.0,a,14.0,and,429,and,403.0
4,4,to,81.0,in,56.0,was,8.0,was,8.0,to,...,menage,49.0,of,22.0,in,11.0,franklin,402,in,387.0

In [121]:
doc.to_csv(r'doc.csv')

In [122]:
############################ real work

TF (Term Frequency)= (Number of time the word occurs in the text) / (Total number of words in text)

IDF (Inverse Document Frequency)= (Total number of documents / Number of documents with word t in it)

TF-IDF = TF * IDF

######

1. "tennis match"
2. "88 thousand people!"
3. "the plastic container; see <img src='drawing.jpg' alt=''>"

######

In [123]:
doc= doc.fillna('-')
#doc.head()

In [124]:
doc.to_csv(r'doc.csv')

In [127]:
doc = pd.read_csv('doc.csv')
doc

,Unnamed: 0,Unnamed: 0.1,doc1,feq_doc1,doc2,feq_doc2,doc3,feq_doc3,doc4,feq_doc4,...,doc16,feq_doc16,doc17,feq_doc17,doc18,feq_doc18,doc19,feq_doc19,doc20,feq_doc20
0,0,0,the,273.0,the,322.0,the,25.0,the,25.0,...,the,106.0,the,80.0,the,18.0,the,894,the,963.0
1,1,1,of,138.0,of,111.0,wanzer,15.0,wanzer,15.0,...,and,56.0,in,57.0,and,16.0,of,600,of,477.0
2,2,2,and,123.0,and,91.0,a,9.0,a,9.0,...,in,55.0,she,35.0,of,15.0,in,486,king,414.0
3,3,3,a,84.0,a,57.0,in,9.0,in,9.0,...,of,50.0,and,30.0,a,14.0,and,429,and,403.0
4,4,4,to,81.0,in,56.0,was,8.0,was,8.0,...,menage,49.0,of,22.0,in,11.0,franklin,402,in,387.0
5,5,5,is,62.0,cell,54.0,and,8.0,and,8.0,...,a,41.0,team,20.0,haston,7.0,a,364,to,387.0
6,6,6,as,59.0,is,53.0,royals,7.0,royals,7.0,...,to,39.0,ohea,16.0,book,5.0,to,345,a,284.0
7,7,7,in,54.0,as,42.0,he,6.0,he,6.0,...,s,26.0,for,16.0,is,4.0,his,231,that,209.0
8,8,8,that,41.0,air,41.0,hall,5.0,hall,5.0,...,was,24.0,was,16.0,rising,4.0,he,217,was,198.0
9,9,9,with,38.0,to,37.0,to,5.0,to,5.0,...,he,24.0,at,15.0,dead,4.0,was,210,s,179.0
10,10,10,or,32.0,at,34.0,season,5.0,season,5.0,...,his,17.0,a,15.0,moon,4.0,that,142,his,169.0
11,11,11,are,31.0,it,33.0,as,4.0,as,4.0,...,minneapolis,15.0,3,15.0,echo,4.0,as,136,he,164.0
12,12,12,santera,28.0,circulation,32.0,basketball,4.0,basketball,4.0,...,1,15.0,with,13.0,magical,4.0,s,133,for,138.0
13,13,13,be,24.0,are,32.0,coach,4.0,coach,4.0,...,for,15.0,to,13.0,whispers,4.0,on,133,on,127.0
14,14,14,for,23.0,hadley,31.0,of,4.0,of,4.0,...,with,14.0,season,13.0,published,4.0,for,130,with,108.0
15,15,15,their,23.0,polar,29.0,with,4.0,with,4.0,...,king,13.0,australian,12.0,for,4.0,by,114,by,95.0
16,16,16,by,21.0,by,27.0,for,4.0,for,4.0,...,by,13.0,2012,11.0,elephants,4.0,with,96,i,95.0
17,17,17,orichs,21.0,ferrel,27.0,also,3.0,also,3.0,...,land,12.0,basketball,11.0,s,4.0,from,80,rights,83.0
18,18,18,known,19.0,that,25.0,at,3.0,at,3.0,...,were,11.0,national,11.0,was,4.0,it,64,as,82.0
19,19,19,traditional,19.0,surface,22.0,seton,3.0,seton,3.0,...,real,10.0,her,11.0,to,4.0,philadelphia,59,civil,76.0
20,20,20,from,19.0,cells,18.0,after,3.0,after,3.0,...,estate,10.0,game,10.0,from,3.0,benjamin,58,at,71.0
21,21,21,healing,17.0,this,17.0,team,3.0,team,3.0,...,city,10.0,wnbl,9.0,fiction,3.0,an,58,from,66.0
22,22,22,6,17.0,pacific,17.0,1,3.0,1,3.0,...,minnesota,9.0,played,9.0,historical,3.0,which,58,an,65.0
23,23,23,an,16.0,from,16.0,star,3.0,star,3.0,...,as,8.0,s,7.0,blood,3.0,had,55,it,60.0
24,24,24,also,15.0,on,16.0,were,3.0,were,3.0,...,at,8.0,points,7.0,doves,3.0,pennsylvania,54,had,59.0
25,25,25,they,15.0,s,16.0,nba,3.0,nba,3.0,...,had,8.0,per,7.0,2013,3.0,is,52,have,55.0
26,26,26,on,14.0,which,16.0,his,3.0,his,3.0,...,new,8.0,jenna,6.0,an,3.0,at,52,is,54.0
27,27,27,orich,14.0,equator,14.0,on,3.0,on,3.0,...,business,8.0,2,6.0,career,3.0,first,51,march,53.0
28,28,28,which,14.0,winds,14.0,4,2.0,4,2.0,...,from,7.0,4,6.0,october,3.0,american,49,luther,52.0
29,29,29,religion,12.0,toward,14.0,january,2.0,january,2.0,...,on,7.0,6,6.0,class,3.0,be,47,movement,52.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
3733,3733,3733,-,-,-,-,-,-,-,-,...,-,-,-,-,-,-,cv13,1,-,-
3734,3734,3734,-,-,-,-,-,-,-,-,...,-,-,-,-,-,-,bon,1,-,-
3735,3735,3735,-,-,-,-,-,-,-,-,...,-,-,-,-,-,-,homme,1,-,-
3736,3736,3736,-,-,-,-,-,-,-,-,...,-,-,-,-,-,-,cv31,1,-,-
3737,3737,3737,-,-,-,-,-,-,-,-,...,-,-,-,-,-,-,operation,1,-,-
3738,3738,3738,-,-,-,-,-,-,-,-,...,-,-,-,-,-,-,ii,1,-,-
3739,3739,3739,-,-,-,-,-,-,-,-,...,-,-,-,-,-,-,distinction,1,-,-
3740,3740,3740,-,-,-,-,-,-,-,-,...,-,-,-,-,-,-,operational,1,-,-
3741,3741,3741,-,-,-,-,-,-,-,-,...,-,-,-,-,-,-,1797,1,-,-
3742,3742,3742,-,-,-,-,-,-,-,-,...,-,-,-,-,-,-,franklinia,1,-,-
3743,3743,3743,-,-,-,-,-,-,-,-,...,-,-,-,-,-,-,alatamaha,1,-,-
3744,3744,3744,-,-,-,-,-,-,-,-,...,-,-,-,-,-,-,tree,1,-,-
3745,3745,3745,-,-,-,-,-,-,-,-,...,-,-,-,-,-,-,philadelphians,1,-,-
3746,3746,3746,-,-,-,-,-,-,-,-,...,-,-,-,-,-,-,botanists,1,-,-
3747,3747,3747,-,-,-,-,-,-,-,-,...,-,-,-,-,-,-,bartram,1,-,-
3748,3748,3748,-,-,-,-,-,-,-,-,...,-,-,-,-,-,-,cma,1,-,-
3749,3749,3749,-,-,-,-,-,-,-,-,...,-,-,-,-,-,-,cgm,1,-,-
3750,3750,3750,-,-,-,-,-,-,-,-,...,-,-,-,-,-,-,chinesebuilt,1,-,-
3751,3751,3751,-,-,-,-,-,-,-,-,...,-,-,-,-,-,-,explorerclass,1,-,-
3752,3752,3752,-,-,-,-,-,-,-,-,...,-,-,-,-,-,-,container,1,-,-
3753,3753,3753,-,-,-,-,-,-,-,-,...,-,-,-,-,-,-,193,1,-,-
3754,3754,3754,-,-,-,-,-,-,-,-,...,-,-,-,-,-,-,mayhew,1,-,-
3755,3755,3755,-,-,-,-,-,-,-,-,...,-,-,-,-,-,-,assistant,1,-,-
3756,3756,3756,-,-,-,-,-,-,-,-,...,-,-,-,-,-,-,15th,1,-,-
3757,3757,3757,-,-,-,-,-,-,-,-,...,-,-,-,-,-,-,fled,1,-,-
3758,3758,3758,-,-,-,-,-,-,-,-,...,-,-,-,-,-,-,purified,1,-,-
3759,3759,3759,-,-,-,-,-,-,-,-,...,-,-,-,-,-,-,congregationalist,1,-,-
3760,3760,3760,-,-,-,-,-,-,-,-,...,-,-,-,-,-,-,christianity,1,-,-
3761,3761,3761,-,-,-,-,-,-,-,-,...,-,-,-,-,-,-,194,1,-,-
3762,sum,7074441,-,3477.0,-,2944.0,-,339.0,-,339.0,...,-,1657.0,-,1172.0,-,339.0,theofinandfranklinatohishewasthatassonforbywit...,15361,-,15178.0

In [129]:

doc[doc.str.match('the')]

AttributeError: 'DataFrame' object has no attribute 'str'